<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<div class="jumbotron text-center">
  <h1>Charge Sheet</h1>
 
</div>
  
<div class="container-fluid">
  <div class="row">
  
<table class="table">
  <thead>
    <tr>
      <th scope="col">Bank Name</th>
      <th scope="col">Mobile Number</th>
      <th scope="col">IFSC Code</th>
      <th scope="col">Account Number</th>
      <th scope="col">Account Holder Name</th>
      <th scope="col">Refund Ammount</th>
    </tr>
  </thead>
  <tbody>
    <% for(i=0;i<result.length;i++){ %>
<tr>
      <th scope="row"><%=result[i].account_holder_name%></th>
      <td><%=result[i].service_agent%></td>
      <td><%=result[i].ifsc_code%></td>
      <td><%=result[i].account_number%></td>
      <td><%=result[i].account_holder_name%></td>

<% if(result[i].addon_activate){ %>


<% if(result[i].old_booking_cancel=='yes'){ %>


<td><%=(+result[i].addon_teamprice).toFixed(2)%></td>

<% } else { %>

<td><%=((+result[i].teamprice) + (+result[i].addon_teamprice)).toFixed(2)%></td>
<% } %>


<%  } else { %>

<td><%=(+result[i].teamprice).toFixed(2)%></td>
<% } %>

    </tr>
    <% } %>
    
  
  </tbody>
</table>


<center><button class="btn btn-success refund">Refund Done</button>
</center>
  </div>
</div>


<script type="text/javascript">
$('.refund').click(function(){
  const refund_status = 'refunded'
  $.post('/adminhome/refund-done',{refund_status},data=>{
    alert('Successfully')
  })
})
</script>

</body>
</html>
