<!DOCTYPE html>
<html lang="en">
<head>
		<script>
				!function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
				analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
				analytics.page();
				}}();
			  </script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
<link rel="stylesheet" href="http://demo.phasethree.com/wp-content/mu-plugins/levels-global/modules/p3-testimonial/css/frontend.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
<link rel="shortcut icon" type="image/x-icon" href="/images/logo2.png">
<!-- Google Fonts
    ============================================ -->
<link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
<!-- Bootstrap CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/bootstrap.min.css">
<!-- font awesome CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/font-awesome.min.css">
<!-- owl.carousel CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/owl.carousel.css">
<link rel="stylesheet" href="/team_dashboard_style/css/owl.theme.css">
<link rel="stylesheet" href="/team_dashboard_style/css/owl.transitions.css">
<!-- meanmenu CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/meanmenu/meanmenu.min.css">
<!-- animate CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/animate.css">
<!-- normalize CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/normalize.css">
<!-- mCustomScrollbar CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/scrollbar/jquery.mCustomScrollbar.min.css">
<!-- jvectormap CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/jvectormap/jquery-jvectormap-2.0.3.css">
<!-- Notika icon CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/notika-custom-icon.css">
<!-- wave CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/wave/waves.min.css">
<!-- main CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/main.css">
<!-- style CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/style.css">
<!-- responsive CSS
    ============================================ -->
<link rel="stylesheet" href="/team_dashboard_style/css/responsive.css">
<!-- modernizr JS
    ============================================ -->
<script src="/team_dashboard_style/js/vendor/modernizr-2.8.3.min.js"></script>

<style>
	/* width */
	::-webkit-scrollbar {
	  width: 8px;
	}
	
	/* Track */
	::-webkit-scrollbar-track {
	  box-shadow: inset 0 0 5px grey; 
	  border-radius: 6px;
	}
	 
	/* Handle */
	::-webkit-scrollbar-thumb {
	  background:#1F5AB0; 
	  border-radius: 6px;
	}
	
	/* Handle on hover */
	::-webkit-scrollbar-thumb:hover {
	  background: #1F5AB0; 
	}
	</style>
  <!--STYLE END SCROLL BAR-->

<style>
.bg-light {
	 background-color: #fff;
}
 .bg-dark {
	 background-color: #f1f4f5;
}
 body {
	 color: #768390;
	
	 font-family: "Effra", Helvetica, sans-serif;
	 padding: 0;
	 -webkit-font-smoothing: antialiased;
}
 h1, h2, h3, h4, h5, h6 {
	 color: #3d4351;
	 margin-top: 0;
}
 a {
	 color: #ff6b6b;
}
 a:hover {
	 color: #ff9a9a;
	 text-decoration: none;
}
 .example-header {
	 background: #3d4351;
	 color: #fff;
	 font-weight: 300;
	 padding: 3em 1em;
	 text-align: center;
}
 .example-header h1 {
	 color: #fff;
	 font-weight: 300;
	 margin-bottom: 20px;
}
 .example-header p {
	 font-size: 12px;
	 text-transform: uppercase;
	 letter-spacing: 3px;
	 font-weight: 700;
}
 .example {
	 background: #f1f4f5;
}
 .example-title {
	 text-align: center;
	 margin-bottom: 60px;
	 padding: 3em 0;
	 border-bottom: 1px solid #e4eaec;
}
 .example-title p {
	 margin: 0 auto;
	 font-size: 16px;
	 max-width: 400px;
}
 .img {
	 background-size: cover;
	 background-repeat: no-repeat;
	 background-position: center center;
	 overflow: hidden;
	 position: relative;
	 width: 100%;
}
 .img img {
	 opacity: 0;
}
 .img-circle {
	 -webkit-border-radius: 50%;
	 -moz-border-radius: 50%;
	 border-radius: 50%;
}
 .img-circle:before {
	 content: "";
	 display: block;
	 padding-top: 100%;
}
 .img-circle > * {
	 position: absolute !important;
	 top: 0;
	 bottom: 0;
	 left: 0;
	 right: 0;
}
/* NAME: Testimonial * * COMPONENT: 'testimonial' * * MODIFIERS: 'testimonial-reverse' * 'testimonial-top' * 'carousel' 
/*============================================================================= GENERAL =============================================================================*/
 .testimonial {
	 margin-bottom: 30px;
}
 .testimonial, .testimonial-item {
	 border-radius: 4px;
}
 .testimonial-item .inner {
	 border-color: transparent;
	 overflow: hidden;
}
/*----- IMAGE -----*/
 .testimonial-image {
	 display: inline-block;
	 margin-right: 15px;
	 position: relative;
	 vertical-align: middle;
	 width: 50px;
}
/*----- HEADING -----*/
 .testimonial-titling {
	 display: inline-block;
	 vertical-align: middle;
}
 .testimonial-title {
	 display: block;
	 font-size: 20px;
	 margin-bottom: 0;
}
 .testimonial-subtitle {
	 display: block;
	 font-size: 13px;
	 opacity: 0.8;
}
/*----- CONTENT -----*/
 .testimonial-content {
	 margin-bottom: 20px;
	 position: relative;
}
 .testimonial-content > p:last-child {
	 margin-bottom: 0;
}
/*----- QUOTE MARK -----*/
 .testimonial-quote-mark {
	 color: #dcdfe2;
	 float: left;
	 font-size: 30px;
	 margin: 3px 15px 0 0;
}
/*----- CONTROLS -----*/
 .testimonial-control a {
	 color: #ccd5db;
}
 .testimonial-control:hover {
	 color: #89bceb;
	 text-decoration: none;
}
/*----- COLUMNS -----*/
 @media (min-width: 992px) {
	 .testimonial.column-2 .row > div:nth-child(odd), .testimonial.column-3 .row > div:nth-child(3n+1), .testimonial.column-4 .row > div:nth-child(4n+1) {
		 clear: both;
	}
}
 @media (max-width: 991px) {
	 .testimonial.column-2 .row > div:nth-child(odd), .testimonial.column-3 .row > div:nth-child(odd), .testimonial.column-4 .row > div:nth-child(odd) {
		 clear: both;
	}
}
/* MODIFIER: 'testimonial-bubble' ===================================================*/
 .testimonial-bubble .testimonial-content {
	 border: 1px solid transparent;
	 padding: 15px 20px;
	 background-color: #fff;
	 border-radius: 4px;
}
 .testimonial-bubble .testimonial-content:before {
	 position: absolute;
	 border: 1px solid transparent;
	 border-width: 0 1px 1px 0;
	 bottom: -7px;
	 left: 33px;
	 display: block;
	 width: 14px;
	 height: 14px;
	 content: '';
	 background-color: #fff;
	 -webkit-transform: rotate(45deg);
	 -ms-transform: rotate(45deg);
	 -o-transform: rotate(45deg);
	 transform: rotate(45deg);
}
 .testimonial-bubble.testimonial-top .testimonial-content:before {
	 border-width: 1px 0 0 1px;
}
 .testimonial-bubble .testimonial-info {
	 margin-left: 20px;
}
/* MODIFIER: 'testimonial-reverse' ===================================================*/
 .testimonial-reverse .testimonial-content:before {
	 right: 33px;
	 left: auto;
}
 .testimonial-reverse .testimonial-info {
	 margin-left: 0;
	 margin-right: 20px;
	 text-align: right;
}
 .testimonial-reverse .testimonial-image {
	 margin-right: 0;
	 margin-left: 20px;
}
 .testimonial-reverse .testimonial-title, .testimonial-reverse .testimonial-subtitle {
	 text-align: right;
}
/* MODIFIER: 'testimonial-top' ===================================================*/
 .testimonial-top .testimonial-content {
	 margin-top: 30px;
	 margin-bottom: 10px;
}
 .testimonial-top .testimonial-content:before {
	 top: -7px;
	 bottom: auto;
}
/* MODIFIER: '.carousel' ===================================================*/
 .testimonial.carousel {
	 position: relative;
	 width: 100%;
	 overflow: hidden;
}
 .testimonial.carousel .testimonial-item {
	 position: relative;
	 display: none;
	 width: 100%;
	 transition: left 0.6s ease-in-out 0s;
}
 .testimonial.carousel .testimonial-item.active, .testimonial.carousel .testimonial-item.next, .testimonial.carousel .testimonial-item.prev {
	 display: block;
}
 .testimonial.carousel .testimonial-item.next, .testimonial.carousel .testimonial-item.prev {
	 position: absolute;
	 top: 0;
	 width: 100%;
}
 .testimonial.carousel .testimonial-item.next {
	 left: 100%;
}
 .testimonial.carousel .testimonial-item.prev {
	 left: -100%;
}
 .testimonial.carousel .testimonial-item.next.left, .testimonial.carousel .testimonial-item.prev.right {
	 left: 0;
}
 .testimonial.carousel .testimonial-item.active {
	 left: 0;
}
 .testimonial.carousel .testimonial-item.active.left {
	 left: -100%;
}
 .testimonial.carousel .testimonial-item.active.right {
	 left: 100%;
}
 .testimonial-control {
	 position: absolute;
	 right: 20px;
	 bottom: 20px;
}
 .testimonial-control a + a {
	 margin-left: 10px;
}
 .testimonial-reverse .testimonial-control {
	 right: auto;
	 left: 20px;
}
 .testimonial-top .testimonial-control {
	 top: 20px;
	 bottom: auto;
}
 

</style>


<style>


 .doctor-card {
	 max-width: 1000px;
	 background: #fff;
	 border-radius: 2px;
	 margin: auto;
	 position: relative;
	 box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
	 transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
	 position: relative;
}
 .doctor-card .info {
	 padding: 15px;
	 display: grid;
	 grid-template-columns: 90px auto;
}
 .doctor-card .info .avatar {
	 overflow: hidden;
	 height: 72px;
	 width: 72px;
	 border-radius: 3px;
	 margin-top: 5px;
}
 .doctor-card .info .avatar img {
	 width: 100%;
	 border-radius: 3px;
	 overflow: hidden;
}
 .doctor-card .info .details {
	 align-self: center;
	 padding: 10px 0;
}
 .doctor-card .info .details .name {
	 font-size: 18px;
	 line-height: 1;
	 padding: 2px 0;
	 font-weight: 400;
}
 .doctor-card .info .details .meta-info {
	 padding: 2px 0;
	 color: #787878;
	 line-height: 16px;
	 font-weight: 400;
}
 .doctor-card .info .details .meta-info .prac-area:not(:empty)::before, .doctor-card .info .details .meta-info .exp-yr:not(:empty)::before {
	 content: "|";
	 padding: 10px;
}
 @media (max-width: 575px) {
	 .doctor-card .info {
		 grid-template-columns: 1fr;
		 justify-items: center;
	}
	 .doctor-card .info .details {
		 text-align: center;
	}
	 .doctor-card .info .details .meta-info {
		 padding: 5px;
	}
	 .doctor-card .info .details .meta-info .exp-yr {
		 display: block;
	}
	 .doctor-card .info .details .meta-info .exp-yr:not(:empty) {
		 margin-top: 5px;
	}
	 .doctor-card .info .details .meta-info .exp-yr:not(:empty)::before {
		 content: none;
	}
}
 .doctor-card .actions {
	 margin: 0 15px 15px;
	 display: table;
	 width: calc(100% - 30px);
	 border-collapse: collapse;
	 border-radius: 3px;
	 border-style: hidden;
	 box-shadow: 0 0 0 1px #f6f7f8;
}
 .doctor-card .actions > div {
	 text-align: center;
	 padding: 0;
	 display: table-cell;
	 border: 1px solid #f2f2f2;
	 vertical-align: middle;
	 height: 64px;
}
 .doctor-card .actions .ratings {
	 width: 24%;
}
 .doctor-card .actions .ratings .rating-control {
	 display: block;
}
 .doctor-card .actions .ratings .rating-control .fa {
	 font-size: 18px;
	 color: #ffdc40;
}
 .doctor-card .actions .ratings .rating-count {
	 font-size: 12px;
	 text-transform: uppercase;
	 color: #898989;
}
 .doctor-card .actions .comments {
	 width: 23%;
}
 .doctor-card .actions .comments .comment-count {
	 font-size: 12px;
	 text-transform: uppercase;
	 color: #898989;
}
 .doctor-card .actions .comments .comment-count strong {
	 display: block;
	 color: #0081e0;
	 font-size: 18px;
	 font-weight: 400;
	 line-height: 20px;
}
 .doctor-card .actions .consultation {
	 width: 23%;
}
 .doctor-card .actions .consultation .fee {
	 font-size: 12px;
	 text-transform: uppercase;
	 color: #898989;
}
 .doctor-card .actions .consultation .fee strong {
	 display: block;
	 color: #0081e0;
	 font-size: 18px;
	 font-weight: 400;
	 line-height: 20px;
}
 .doctor-card .actions .appo {
	 width: 30%;
}
 .doctor-card .actions .appo .btn {
	 background: #0081e0;
	 display: block;
	 text-decoration: none;
	 color: #fff;
	 text-transform: uppercase;
	 padding: 15px;
	 margin: 0 5px;
}
 @media (max-width: 575px) {
	 .doctor-card .actions > div {
		 display: block;
		 padding: 10px;
		 height: auto;
	}
	 .doctor-card .actions > div.comments, .doctor-card .actions > div.consultation {
		 width: 50%;
		 display: inline-block;
	}
	 .doctor-card .actions > div.ratings, .doctor-card .actions > div.appo {
		 width: 100%;
	}
}
 .doctor-card .locations {
	 padding: 15px 15px 20px;
	 border-top: 1px solid #f6f7f8;
	 border-radius: 0 0 2px 2px;
	 line-height: 1;
	 font-size: 12px;
	 color: #898989;
	 font-weight: 400;
	 text-transform: capitalize;
}
 @media (max-width: 575px) {
	 .doctor-card .locations {
		 text-align: center;
	}
}
 .doctor-card.hoverable:hover {
	 box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
 .doctor-card.certified::after {
	 content: '';
	 background: url('//via.placeholder.com/100') no-repeat;
	 background-size: contain;
	 height: 30px;
	 width: 30px;
	 position: absolute;
	 top: 10px;
	 right: 10px;
	 border-radius: 50%;
}
 @media (max-width: 575px) {
	 .doctor-card {
		 padding: 10px;
	}
}
 .doctor-card + .doctor-card {
	 margin-top: 1rem;
}
 

</style>

</head>
<body>
<br><br>

        <div class="doctor-card">
                <div class="info">
                    <div class="avatar">
                        <img src="/images/<%=result[0][0].image%>" alt="doc name">
                    </div>
              <div class="details">
                  <div class="name"><%= result[0][0].name%></div>
                
              </div>
                </div>
                <div class="actions">
                    <div class="ratings">
                        <span class="rating-control">
                          Average Rating  <%= result[2][0].rating%><i class="fa fa-star"></i>
                            
                        </span>
                      
                    </div>
                 
                 
                </div>
               
            </div>


        <script src="https://use.typekit.net/bkt6ydm.js"></script>
        <script>try{Typekit.load({ async: true });}catch(e){}</script>
       
        <div class="container-fluid">
            <div class="row example">
                <div class="col-md-12 example-title">
                    <h2>Rating & Review</h2>
    </div>



<% for(i=0;i<result[1].length;i++){ %>
    <% if(i%2==0) { %>
                <div class="col-sm-6 col-xs-12">
                    <div class="testimonial testimonial-bubble">
                        <article class="testimonial-item">
                            <div class="inner">
                                <div class="testimonial-content">
                                    <p><%=result[1][i].review%></p>
                                </div>
                                <!-- .testimonial-content -->
                                <div class="testimonial-info">
                                   
                                    <div class="testimonial-titling">
                                        <h3 class="testimonial-title"><%= result[1][i].name%></h3>
                                        <span class="testimonial-subtitle"><%= result[1][i].rating%> <img src="https://img.icons8.com/color/20/000000/rating.png"></span>
                                    </div>
                                    <!-- .testimonial-titling -->
                                </div>
                                <!-- .testimonial-info -->
                            </div>
                        </article>
                    </div>
                </div>
            <% } else { %>
                <div class="col-sm-6 col-xs-12">
                    <div class="testimonial testimonial-bubble testimonial-reverse">
                        <article class="testimonial-item">
                            <div class="inner">
                                <div class="testimonial-content">
                                        <p><%=result[1][i].review%></p>
                                </div>
                                <!-- .testimonial-content -->
                                <div class="testimonial-info">
                                    <div class="testimonial-titling">
                                        <h3 class="testimonial-title"><%= result[1][i].name%></h3>
                                        <span class="testimonial-subtitle"><%= result[1][i].rating%> <img src="https://img.icons8.com/color/20/000000/rating.png"></span>
                                    </div>
                                    <!-- .testimonial-titling -->
                                   
                                </div>
                                <!-- .testimonial-info -->
                            </div>
                        </article>
                    </div>
                </div>


              <% } } %>
                
                 
               
             <!--end-->
            </div>
        </div>
</body>

<% include ./partner_footer.ejs %>

<script type='text/javascript'>
	var isCtrl = false;
	document.onkeyup=function(e)
	{
	if(e.which == 17)
	isCtrl=false;
	}
	document.onkeydown=function(e)
	{
	if(e.which == 17)
	isCtrl=true;
	if((e.which == 85) || (e.which == 67) || isCtrl == true)
	{
	// alert(&#8216;Keyboard shortcuts are cool!&#8217;);
	return false;
	}
	}
	var isNS = (navigator.appName == "Netscape") ? 1 : 0;
	if(navigator.appName == "Netscape") document.captureEvents(Event.MOUSEDOWN||Event.MOUSEUP);
	function mischandler(){
	return false;
	}
	function mousehandler(e){
	var myevent = (isNS) ? e : event;
	var eventbutton = (isNS) ? myevent.which : myevent.button;
	if((eventbutton==2)||(eventbutton==3)) return false;
	}
	document.oncontextmenu = mischandler;
	document.onmousedown = mousehandler;
	document.onmouseup = mousehandler;
	</script>
  

</html>