<% include ./booking_dashboard_header.ejs %>

***********************************-->
<div class="content-body">

    <div class="container-fluid mt-3">


<div class="row">
        <div class="col-lg-12">
            <div class="card">
                <div class="card-body">
                    <div class="active-member">
                        <div class="table-responsive">
                            <table class="table table-xs mb-0" id="myTable">
                                <h3>Failed Payment Details</h3>
                                <input type="text"  class="form-control" id="myInput" onkeyup="myFunction()" placeholder="Search By Cusotmer Name.." title="Type in a name">
                                          
                                <thead>
                                    <tr>
                                            <th>Number</th>
                                        <th>Customers</th>
                                        <th>Services</th>
                                        <th>Address</th>
                                        <th>Service Date</th>
                                        <th>Service Time</th>
                                        <th>Failure Reason</th>
                                      
                                       
                                    </tr>
                                </thead>
                                <tbody>
                                    <% for(i=0;i<result.length;i++) { %>
                                    <tr>
                                            <td><%=result[i].usernumber%></td>
                                       <td><a href="/booking_dashboard/single_failed_payment_details?id=<%=result[i].id%>" style="font-size:15px"><%=result[i].name%></a></td>
                                        <td><%=result[i].booking_id%></td>
                                        <td><%=result[i].address%></span></td>
                                        <td><%=result[i].date%></td>
                                        <td><%=result[i].time%></td>
                                         <td><%=result[i].failure_reason%></td>
                                      
                                    </tr>

                                    <% } %>

                                  
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>                        
        </div>
    </div>
    </div>
    </div>

      <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
                <div class="copyright">
                    <p>Copyright &copy;2019 Delo Services Pvt. Ltd</p>
                </div>
            </div>
            <!--**********************************
                Footer end
            ***********************************-->
        </div>
        <!--**********************************
            Main wrapper end
        ***********************************-->
    
        <!--**********************************
            Scripts
        ***********************************-->
        <script src="plugins/common/common.min.js"></script>
        <script src="js/custom.min.js"></script>
        <script src="js/settings.js"></script>
        <script src="js/gleek.js"></script>
        <script src="js/styleSwitcher.js"></script>
    
        <!-- Chartjs -->
        <script src="./plugins/chart.js/Chart.bundle.min.js"></script>
        <!-- Circle progress -->
        <script src="./plugins/circle-progress/circle-progress.min.js"></script>
        <!-- Datamap -->
    
       
        <!-- Pignose Calender -->
        <script src="./plugins/moment/moment.min.js"></script>
        <script src="./plugins/pg-calendar/js/pignose.calendar.min.js"></script>
        <!-- ChartistJS -->
        <script src="./plugins/chartist/js/chartist.min.js"></script>
        <script src="./plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>
    
    
    
        <script src="./js/dashboard/dashboard-1.js"></script>
    


        <script>



                function myFunction() {
                    var input, filter, table, tr, td, i, txtValue;
                    input = document.getElementById("myInput");
                    filter = input.value.toUpperCase();
                    table = document.getElementById("myTable");
                    tr = table.getElementsByTagName("tr");
                    for (i = 0; i < tr.length; i++) {
                      td = tr[i].getElementsByTagName("td")[0];
                      if (td) {
                        txtValue = td.textContent || td.innerText;
                        if (txtValue.toUpperCase().indexOf(filter) > -1) {
                          tr[i].style.display = "";
                        } else {
                          tr[i].style.display = "none";
                        }
                      }
                    }
                  }
                </script>


    </body>
    
    </html>