<!DOCTYPE html>
<html lang="en">
<head>
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
        analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
        analytics.page();
        }}();
      </script>


<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
<link rel="shortcut icon" type="images/x-icon" href="/assets/img/favicon.png">

    <!-- Bootstrap CSS -->
      <!-- Bootstrap CSS -->
      <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
      <!-- Icon -->
      <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
      <!-- Slicknav -->
      <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">
  
      <!-- Animate -->
      <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
      <!-- Owl carousel -->
      <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
      <!-- Main Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
      <!-- Responsive Style -->
      <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css">
  <title>Booking</title>
  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }
    
    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey; 
      border-radius: 6px;
    }
     
    /* Handle */
    ::-webkit-scrollbar-thumb {
      background:#1F5AB0; 
      border-radius: 6px;
    }
    
    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1F5AB0; 
    }
    </style>
  <!--STYLE END SCROLL BAR-->
<style>
.profile .table-properties th {
  font-weight: normal;
  width: 15rem;
}

.profile .table-properties td {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.profile .table-properties tr:first-child td,
.profile .table-properties tr:first-child th {
  border-top: none !important;
}

.profile .img-lg {
  width: 9rem;
  height: 9rem;
}


</style>

</head>
<body>


  <!-- Header Area wrapper Starts -->
  <header id="header-wrap"   style="background-color: white;">



<br><br><br><br><br>

<div class="start call float-right" usernumber="<%=result[0].number%>" service_agent="8088879880"><strong>Agent Call</strong><img src="https://img.icons8.com/dotty/40/000000/call-male.png"></div>

<br><br>
    <div id="user" class="container profile" style="display: none;">
        

        
      
        <div class="row mt-2">
          <div class="col">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
              <li class="nav-item">
                <a class="nav-link active" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile" aria-selected="true">Profile</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#contact" role="tab" aria-controls="contact" aria-selected="false">Residential</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="address-tab" data-toggle="tab" href="#address" role="tab" aria-controls="address" aria-selected="false">Documents</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" id="links-tab" data-toggle="tab" href="#links" role="tab" aria-controls="links" aria-selected="false">Bank Details</a>
              </li>
            </ul>
            <div class="tab-content" id="myTabContent">
              <div class="tab-pane fade show active" id="profile" role="tabpanel" aria-labelledby="profile-tab">
                <table class="table table-hover table-sm table-properties">
                  <tr>
                    <th>Name</th>
                    <td style="white-space: nowrap; overflow: hidden; text-overflow: ellipsis; max-width: 20rem;"><%=result[0].name%></td>
                  </tr>
                  <tr>
                    <th>Email</th>
                    <td><%=result[0].email%></td>
                  </tr>
                  <tr>
                    <th>Mobile Number</th>
                    <td><%=result[0].number%></td>
                  </tr>
                  <tr>
                    <th>Father Name</th>
                    <td><%=result[0].father_name%></td>
                  </tr>
                  <tr>
                    <th>Date of birth</th>
                    <td><%=result[0].dob%></td>
                  </tr>
                    </table>
              </div>
      
              <div class="tab-pane fade" id="contact" role="tabpanel" aria-labelledby="contact-tab">
                <table class="table table-hover table-sm table-properties">
                  <tr>
                    <th>Adrress 1</th>
                    <td><%=result[0].address1%></td>
                  </tr>
                  <tr>
                    <th>Address 2</th>
                    <td><%=result[0].address2%></td>
                  </tr>
                  <tr>
                    <th>State</th>
                    <td><%=result[0].state%></td>
                  </tr>
                  <tr>
                    <th>City</th>
                    <td><%=result[0].city%></td>
                  </tr>
                  <tr>
                    <th>Pincode</th>
                    <td><%=result[0].pincode%></td>
                  </tr>
                </table>
              </div>
      
              <div class="tab-pane fade" id="address" role="tabpanel" aria-labelledby="address-tab">
                <table class="table table-hover table-sm table-properties">
                  <tr>
                    <th>Aadhar Number</th>
                    <td><%=result[0].aadhar_number%></td>
                  </tr>
                  <tr>
                    <th>Pan Number</th>
                    <td><%=result[0].pan_number%></td>
                  </tr>
                  <tr>
                    <th>Aadhar Photo</th>
                    <td><img src="/images/<%=result[0].aadhar_front_side%>" style="width:200px;height:200px"></td>
                      </tr>
                      <% if(result[0].back_side==null || result[0].back_side=="null" || result[0].back_side==undefined || result[0].back_side=="undefined" || result[0].back_side=="" || result[0].back_side==[]){ %>
                  <tr>
                    <th>Pension Slip</th>
                    <td><img src="/images/<%=result[0].image%>" style="width:200px;height:200px"></td>
                  </tr>
                  <% } else { %>
                    <tr>
                        <th>Form-16</th>
                        <td><img src="/images/<%=result[0].image%>" style="width:200px;height:200px"></td>
                        <td><img src="/images/<%=result[0].image_back%>" style="width:200px;height:200px"></td>
                      </tr>

                 <% } %>     
                  
                
                </table>
              </div>
      
              <div class="tab-pane fade" id="links" role="tabpanel" aria-labelledby="links-tab">
                <table class="table table-hover table-sm table-properties">
                  <tr>
                    <th>Bank Name</th>
                    <td><%=result[0].bank_name%></td>
                  </tr>
                  <tr>
                    <th>Account Number</th>
                    <td><%=result[0].account_number%></td>
                  </tr>
                  <tr>
                    <th>IFSC Code</th>
                    <td><%=result[0].ifsc_code%></td>
                  </tr>
                  <tr>
                    <th>Account Holder Name</th>
                    <td><%=result[0].account_holder_name%></td>
                  </tr>
                  <tr>
                    <th>Account Type</th>
                    <td><%=result[0].type%></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
<br><br>




<button class="btn btn-primary float-right completed" id="<%=result[0].id%>" style="margin-right: 40px">Completed Job</button>


    </body>



<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.6.10/vue.min.js"></script>

<script>
$.ajax({
  url: "https://phantauth.net/user/",
  dataType: "json",
  success: function(user) {
    new Vue({ el: "#user", data: { user: user } });
    $("#user").show();
  }
});


</script>


<script>

        $('.call').click(function(){
            const from = $(this).attr('usernumber');
            const to = $(this).attr('service_agent');
            $.post('/booking/a',{from,to},data=>{
                 
               })
        })
    


        $('.completed').click(function(){
            const id = $(this).attr('id')
            const status = 'completed'
           const a =  confirm("Are you sure you completed this job!");
           if(a==true){
             $.post('/booking_dashboard/file_rtr_booking_update',{id,status},data=>{
               window.location.href  =  "/booking_dashboard/file_rtr_booking"
             })
           }
           
            
        })



        </script>
    






</html>