<!DOCTYPE html>
<html lang="en">
  <head>
<script> window._peq = window._peq || []; window._peq.push(["init"]); </script>
      <script src="https://clientcdn.pushengage.com/core/60add4df169e0e2f6d851c190f7844b3.js" async></script>

    <script>
      !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
      analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
      analytics.page();
      }}();
    </script>


<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KHL4WHL');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140402344-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140402344-1');
    </script>
    <!--End -->

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Delo Services - One Destination For All Home & Beauty & Wellness Services </title>

 <!--META SEO START-->
 <meta charset="UTF-8">
 <meta name="description" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India."/>
 <meta name="keywords" content="weddings planners, wedding reception, brides, grooms,packers and movers,packers and movers in delhi,carpenter near me,bike service,ac repair service ,wedding photographer in delhi,Wedding Photographers, Makeup Artist, Wedding Venues, Bridal Lehengas,Wedding Planning, Bridal Makeup, Banquet Halls,Wedding Decorators, Mehndi Artists, Online Wedding Planning, Indian ,Wedding Services, Home Services, Appliance, Electronic Repairs, Beauticians,,burgundy  hair color shades for indian skin tones,Indian wedding invitation wordingweddings, indian wedding invite wordings guide,skin tone chart,skin undertones for indian skin,women massage,spa at home,home workout for men,beginners exercises to do at home for men,burgundy red hair,burgundy  hair-color shadesfor indian-skin-tones,women massage,spa at home,red hair with highlights,red highlights-for-indian-skin,
 highlight hair colour,massage for men near me,massage for men near me,small business west delhi,homes ideas modular-kitchens,ca charges for filing income tax return,bangalore tax filing,simple makeup looks,beauty simple makeup tips lipstick hacks ,Home workout for men,Basic makeup,Indian hair highlights,Indian skin tone,burgundy red hair,Indian wedding invitation wording,skin tone chart,women massage,home workout for men,beginners exercises to do at home for men,basic makeup,Indian hair highlights,beauty hair color highlights ideas for indian hair,skin undertones,hair colour shades,
 Indian wedding invitation,skin tone chart,women massage,delhi ncr spa at home,home workout for men,red hair with highlights,red highlights for indianskin,highlight hair colour,massage for men near me,ca firms in west delhi,small business west delhi,modular kitchens,simple makeup looks makeup tips lipstick hacks
 ,home workout for men,best beginners exercises to do at home for men,basic makeup,tips tricks every beginner-know,Indian hair highlights,hair color highlights ideas for indian-hair,Indian skin tone
 insurance,jwellery,rust stains,sofa,room colour,silver color,bug control,marriage,brazilian wax in delhi,SALOON AT HOME ,Pedicure,Manicure,Style my hair,Facials & Clean-Ups,Full Body Massages,RENOVATION,Interior Wall Painting,inoa beauty,bikini wax,brazilian wax,hair removal,waxing session,indian hair highlights,blue eyeshadow looks,basic makeup,sears appliance repair,appliance repair,sears home services,sears home warranty,bedroom ideas for couples,wall design,pooja room,tv room ideas,what kills cockroaches instantly,henna designs,mehndi designs,mehendi designs,sabyasachi,Plumbers, best Plumbers, Plumbers, top 10 Plumbers
 Carpenters, best Carpenters, Carpenters, top 10 Carpenters
 Salon at Home, salon near me Salon, beauty services near me,
  beauty Services at home, parlour near me, parlour at home,
  doorstep parlour services, beauty parlour services at home,
  salon at home in Lucknow, best salon in Lucknow,
  bridal makeup at home Delhi, salon at home Gurgaon, 
 parlour services at home Noida, Spa home service, 
 beautician home service, massage at home , 
  manicure pedicure home service, Delhi, Noida, 
 Gurgaon, Lucknow, Waxing at home, Facial at home,
  manicure pedicure at home, mehndi at home, best salon near me, 
  parlour near me,,Electricians, best Electricians, Electricians, top 10 Electricians,
 Exterior Painters, best Exterior Painters, Exterior Painters, top 10 Exterior Painters 
 ,<% for(i=0;i<result[1].length;i++){ %><%=result[1][i].name%>,<% } %>"/>
 <meta name="google-site-verification" content="5TB0irTJKkDjgSE2r-gp9HOL-pksD8SF7rvpPlgn-_c" />  
 <meta name="msvalidate.01" content="C80D427BDFDF46CFEB5C748950D62040" />
 <meta name="robots" content="all,follow" />
 <meta name="googlebot" content="index, follow" />

 <meta name="classification" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India" />

 <link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">
 <meta name="distribution" content="Global" />
 <meta name="author" content="http://www.deloservices.com" />
 <meta name="Language" content="English" />
 <meta name="rating" content="general" />
 <meta name="owner" content="DELO SERVICES PRIVATE LIMITED." />
 <meta http-equiv="refresh" content="300">
 <meta name="document-type" content="public" />
 <meta name="revisit-after" content="daily" />
 <meta name="country" content="India" />

 <meta name="DC.title" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India" />

 <meta property="fb:admins" content="357112871580780" />
 <meta property="og:title" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India" />
 <meta property="og:type" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India" />
 <meta property="og:url" content="https://www.deloservices.com" />
 <meta property="og:image" content="http://www.deloservices.comhttps://www.deloservices.com/images/logo.jpg" />
 <meta property="og:site_name" content="https://www.deloservices.com" />
 <meta property="og:description" content="Delo Services-One Destination For All Home,Beauty,Wellness & spa Services Delhi and NCR India." />
 <meta property="og:locale" content="en IN" />
<link rel="canonical" href="https://www.deloservices.com">
 <meta name="geo.region" content="IN-DL" />
 <meta name="geo.placename" content="New Delhi" />
 <meta name="geo.position" content="28.55629, 77.1732011" />
 <meta name="ICBM" content="28.55629, 77.1732011" />
<!-- Required meta tags -->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css">
<link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



    <style>
 
        img {
          width: 100%;
          height: auto;
          padding: 5px;
       }
        
        .slick-dots {
          text-align: center;
          margin: 0 0 10px 0;
          padding: 0;
       }
        .slick-dots li {
          display: inline-block;
          margin-left: 4px;
          margin-right: 4px;
       }
        .slick-dots li.slick-active button {
          background-color: #999;
       }
        .slick-dots li button {
          font: 0/0 a;
          text-shadow: none;
          color: transparent;
          background-color: #999;
          border: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
       }
        .slick-dots li :hover {
          background-color: #999;
       }
       /* Custom Arrow */
        .prev {
          color: #999;
          position: absolute;
          top: 38%;
          left: -2em;
          font-size: 1.5em;
       }
        .prev :hover {
          cursor: pointer;
          color: #999;
       }
        .next {
          color: #999;
          position: absolute;
          top: 38%;
          right: -2em;
          font-size: 1.5em;
       }
        .next :hover {
          cursor: pointer;
          color: black;
       }
        @media screen and (max-width: 800px) {
          .next {
            display: none !important;
         }
       }
        
       
           </style>







    <style>
        /* Icon set - http://ionicons.com/ */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
 
  width: 100%;
  height:170px;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}



/* Demo purposes only */
html {
  height: 80%;
}


body {
  

  justify-content: center;
  align-items: center;
  flex-flow: wrap;
 
}

    </style>



<!---scroll bar style-->


<style>
  

  input::-webkit-input-placeholder {
    color:black !important;
    }
     
    input:-moz-input-placeholder { /* Firefox 18- */
    color: black !important;  
    }
     
    input::-moz-input-placeholder {  /* Firefox 19+ */
    color: black !important;  
    }
     
    input:-ms-input-placeholder {  
    color: black !important;  
    }
  </style>


<style>
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1F5AB0; 
    border-radius: 6px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1F5AB0; 
  }
  </style>
<!--STYLE END SCROLL BAR-->



<style>
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

body,
input,
button {
  font-family: palatino;
  font-size: 12pt;
}

a:hover {cursor: pointer;}

input {
  width: 250px;
  height: 30px;
  padding: 3px;
  border: 1px solid #DDE1E4;
}

select {
  width: 258px;
  position: relative;
  left: -17px;
  margin: 0;
  border: 1px solid #DDE1E4;
  border-top: none;
  font-size:9pt;
}

datalist {
  display: none;
}

option {
  padding: 3px;
}

option:hover {
  background-color: #11E8EA;
}



/* to hide datalist arrow in webkit */

input::-webkit-calendar-picker-indicator {
  display: none;
}

</style>
    
  </head>
  <body style="color: black">
     
<!-- The core Firebase JS SDK is always required and must be listed first -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-app.js"></script>

<!-- TODO: Add SDKs for Firebase products that you want to use
     https://firebase.google.com/docs/web/setup#available-libraries -->
<script src="https://www.gstatic.com/firebasejs/7.1.0/firebase-analytics.js"></script>

<script>
  // Your web app's Firebase configuration
  var firebaseConfig = {
    apiKey: "AIzaSyCjIHa7zh9t5gIzZX5OeE6c97PFvoJNdEo",
    authDomain: "delo-services.firebaseapp.com",
    databaseURL: "https://delo-services.firebaseio.com",
    projectId: "delo-services",
    storageBucket: "",
    messagingSenderId: "322726553767",
    appId: "1:322726553767:web:c7bb4f12464556fff75382",
    measurementId: "G-H35N94J096"
  };
  // Initialize Firebase
  firebase.initializeApp(firebaseConfig);
  firebase.analytics();
</script>
  
   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHL4WHL"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->



    <!-- Header Area wrapper Starts -->
    <header id="header-wrap"   style="background-color: white;">
          

        <!-- Navbar Start -->
        <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar  navbar-light" style="background-color: white;">
          <div class="container">
            <div class="theme-header clearfix">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-toggle="collapse" aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                  <span class="lni-menu"></span>
                  <span class="lni-menu"></span>
                  <span class="lni-menu"></span>
                </button>
                <a href="/" class="navbar-brand"><img src="https://www.deloservices.com/images/delomainlogo.png" alt="deloservices" > </a>
              </div>
              <div class="collapse navbar-collapse" id="main-navbar">
                <ul class="navbar-nav mr-auto w-100 justify-content-end">
                  <li class="nav-item dropdown"  style="margin-top: 15px;color:black" >
                    <a class="nav-link " href="/" aria-expanded="false">
                      Home
                    </a>
                   
                  </li>
               
                 
                
                 
                  <% if(login == true){ %>
                  <li class="nav-item dropdown"  style="margin-top: 15px;" >
                    <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      <i class="lnr lnr-user"></i> My Account
                    </a>
                    <ul class="dropdown-menu">
                      <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                      <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                    </ul>
                  </li>
                  <% } else { %>

                    <li class="nav-item dropdown"  style="margin-top: 15px;">
                      <a class="nav-link" href="/login"  aria-expanded="false">
                       Login / Sign Up
                      </a>
                     
                    </li>

                    <% } %>    

                  <li class="postadd" style="margin-top: 35px;">
                    <a class="btn btn-primary btn-post" href="/team_login"> Become A Team Member</a>
                  </li>

                  <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                    <a class="btn btn-primary btn-post" href="tel:8088879880"  aria-expanded="false">
                      Call  : +918088879880
                     </a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
  <div class="mobile-menu" data-logo="https://www.deloservices.com/images/delomainlogo.png"></div>
        </nav>
        <!-- Navbar End -->
      <!-- Navbar End -->

      <!-- Hero Area Start -->
      <div id="hero-area">
        <div class="overlay"></div>
        <div class="container">
          <div class="row justify-content-center">
            
            <div class="col-md-12 col-lg-9 col-xs-12 text-center">
              <div class="contents">
                <h2 class="head-title" style="color: black;">Welcome to  <span class="year " style="color: #1F5AB0;">Delo Services</span></h2>
                <p style="color: black;">Your  reliable home service Provider.....</p>
                <div class="search-bar">
                  <div class="search-inner">
                      <form class=search-form action="/searching" method=post>
                      <div class="form-group" style="font-weight: bold;">
                        <input type="text" class="form-control" placeholder="What are you looking for?" readonly>
                      </div>
                      <div class="form-group inputwithicon">
                        <div class="select">
                <input type="text" class="form-control" placeholder="Delhi NCR" readonly>
                        </div>
                        <i class="lni-target" style="color: #1F5AB0;"></i>
                      </div>
                      <div class="form-group inputwithicon">
                        <div class="select">
                          
<input list=text_editors  name="seo_name" class="form-control" placeholder = "Search For a Service" >

<datalist id="text_editors">
    <select multiple size=8 >
        <% for(i=0;i<18;i++){ %>
            <option value="<%=result[0][i].name%>"><%=result[0][i].name%></option>
          <% } %>
        
    </select>
  </datalist>
                        </div>
                        <i class="lni-search"></i>
                        <i class="lni-search" style="color: #1F5AB0;"></i>
                      </div>
                      <button class="btn btn-common" type="submit"> Search Now</button>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Hero Area End -->

    </header>
    <br><br><br>

    

    <div class="container">
        <div class="heading">
            <h2 class="section-title" >New Year Dhamaka Offers</h2>

          
          
          </div>
          <div class="row">
            <div class="col-md-12 heroSlider-fixed">
              <div class="overlay">
            </div>
               <!-- Slider -->
              <div class="slider responsive">


                  <div>
                      <a href="/delhi-ncr-beauty-at-home" ><img src="/images/Beautycopy.jpg" alt="beauty-service" style="width:280px;height:200px;border-radius:15px" /> </a>
                          </div>





                          <div>
                              <a href="/delhi-ncr-home-cleaning" ><img src="/images/HomCleaning.jpg" alt="cleaning"  style="width:280px;height:200px;border-radius:15px" /> </a>
                        </div>


                  <div>
               <a href="/delhi-ncr-electrical" > <img src="images/electrician.jpg" alt="painting"  style="width:280px;height:200px;border-radius:15px" /> </a>
                </div>

              
                       
                  <div>
                      <a href="/delhi-ncr-massage" > <img src="/images/massage.jpg" alt="carpentry"  style="width:280px;height:200px;border-radius:15px"/> </a>
                </div>
             
                
                          <div>
                                <a href="/delhi-ncr-laundry-services" ><img src="/images/laundrycopy.jpg" alt="electrical"  style="width:280px;height:200px;border-radius:15px"/> </a>
                          </div>
                        
                      
              </div>
                       <!-- control arrows -->
                      <div class="prev">
                          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
                      </div>
                      <div class="next">
                          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
                      </div>
                      
            </div>
          </div>
        </div>





<br>


      






    <!-- Header Area wrapper End -->

    <!-- Categories item Start -->
    <section id="categories" class="section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="heading">
              <h2 class="section-title" >Popular Services</h2>

              <h4 class="sub-title">Find Our Services</h4>
            
            </div>
          </div>

          <% for(i=0;i<6;i++){ %>
           <div class="col-lg-2 col-sm-6 col-md-4 col-xs-4">
            <a href="/delhi-ncr-<%=result[0][i].seo_name%>" id="<%=result[0][i].id%>">
              <div class="category-icon-item lis-bg1">
                <div class="icon-box">
                    <div class="icon">
                  <img src="https://www.deloservices.com/images/<%=result[0][i].logo%>" style="width:50px;" alt="<%=result[0][i].name%>"  />
                  </div>
                   <p class="categories-listing" style="font-size:17px;"><%=result[0][i].name%></p> 
                </div>
              </div>
            </a>
          </div>
        <% } %>
         
        </div>
      </div>
    </section>


    
    <!-- Categories item End -->

    <!-- Featured Section Start -->
    
   <section class="featured section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5 style="font-weight:100px;font-weight: bold">Delo Binge Special</h5>
     
           </div>

          <% for(i=0;i<3;i++){ %>
          <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


              <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][i].seo_name%>">
  <img src="https://www.deloservices.com/images/<%=result[0][i].image%>"  alt="<%=result[0][i].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
             
                  <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][i].name%></p>
                </a> 
               

          </div>
        <br><br><br>
         <% } %>


     
         <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


          <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][23].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][23].image%>"  alt="<%=result[0][23].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
         
              <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][23].name%></p>
            </a> 
           

      </div>
    <br><br><br>


         </div>
      </div>
<br><br>




      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5 style="font-weight:100px;font-weight: bold">Home Cleaning & Pest Control</h5>
     
           </div>

           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


            <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][14].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][14].image%>"  alt="<%=result[0][14].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
           
                <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][14].name%></p>
              </a> 
             

        </div>
      <br><br><br>
   


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


        <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][6].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][6].image%>"  alt="<%=result[0][6].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
       
            <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][6].name%></p>
          </a> 
         

    </div>
  <br><br><br>



  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


    <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][7].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][7].image%>"  alt="<%=result[0][7].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
   
        <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][7].name%></p>
      </a> 
     

</div>
<br><br><br>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


<a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][18].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][18].image%>"  alt="<%=result[0][18].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 

    <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][18].name%></p>
  </a> 
 

</div>
<br><br><br>
   



     
  


         </div>
      </div>


      <br><br>
      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5 style="font-weight:100px;font-weight: bold">Carpenter & Plumber Services</h5>
     
           </div>

           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


            <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][5].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][5].image%>"  alt="<%=result[0][5].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
           
                <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][5].name%></p>
              </a> 
             

        </div>
      <br><br><br>
   


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


        <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][11].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][11].image%>"  alt="<%=result[0][11].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
       
            <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][11].name%></p>
          </a> 
         

    </div>
  <br><br><br>



  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


    <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][4].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][4].image%>"  alt="<%=result[0][4].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
   
        <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][4].name%></p>
      </a> 
     

</div>
<br><br><br>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


<a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][17].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][17].image%>"  alt="<%=result[0][17].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 

    <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][17].name%></p>
  </a> 
 

</div>
<br><br><br>



         </div>
      </div>



<br><br>

      <div class="container">
        <div class="row">
          <div class="col-12">
            <h5 style="font-weight:100px;font-weight: bold">Health & Wellness</h5>
     
           </div>

           <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


            <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][12].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][12].image%>"  alt="<%=result[0][12].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
           
                <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][12].name%></p>
              </a> 
             

        </div>
      <br><br><br>
   


      <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


        <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][20].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][20].image%>"  alt="<%=result[0][20].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
       
            <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][20].name%></p>
          </a> 
         

    </div>
  <br><br><br>



  <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


    <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][21].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][21].image%>"  alt="<%=result[0][21].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
   
        <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][21].name%></p>
      </a> 
     

</div>
<br><br><br>


<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


<a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][19].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][19].image%>"  alt="<%=result[0][19].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 

    <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][19].name%></p>
  </a> 
 

</div>
<br><br><br>
   



     
  


         </div>
      </div>








  
<br><br>

<div class="container">
  <div class="row">
    <div class="col-12">
      <h5 style="font-weight:100px;font-weight: bold">Home Appliances</h5>

     </div>

     <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


      <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][8].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][8].image%>"  alt="<%=result[0][8].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
     
          <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][8].name%></p>
        </a> 
       

  </div>
<br><br><br>



<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


  <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][3].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][3].image%>"  alt="<%=result[0][3].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
 
      <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][3].name%></p>
    </a> 
   

</div>
<br><br><br>



<div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


<a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][22].seo_name%>">
<img src="https://www.deloservices.com/images/<%=result[0][22].image%>"  alt="<%=result[0][22].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 

  <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][22].name%></p>
</a> 


</div>
<br><br><br>











   </div>
</div>




    </section>


  









    <section class="featured section-padding" data-aos="zoom-out">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="heading">
              <h2 class="section-title" >Recommended Services</h2>
              
            </div>
          </div>

          <% for(i=15;i<17;i++){ %>
            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3" style="margin-top:20px"  data-aos="zoom-out">


              <a style="text-decoration: none"  href="/delhi-ncr-<%=result[0][i].seo_name%>">
  <img src="https://www.deloservices.com/images/<%=result[0][i].image%>"  alt="<%=result[0][i].name%>" style="width:283px;height:140px;border-radius:10px;padding:6px"> 
             
                  <p style="color:black;font-size:17px;margin-top:5px"><%=result[0][i].name%></p>
                </a> 
               

          </div>
        <br><br><br>
         
          <% } %>
        
         
        </div>
      </div>
    </section>

    <!-- Featured Section End -->

   
    <!-- Works Section Start -->
    <section class="works section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="heading">
              <h2 class="section-title" >How It Works?</h2>
           
           
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="works-item">
              <div class="icon-box">
                <i class="lni-users"></i>
              </div>
              <p style="color: #1F5AB0;">Create an Account</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="works-item">
              <div class="icon-box">
                <i class="lni-bookmark-alt"></i>
              </div>
              <p style="color: #1F5AB0;">Book Your Service</p>
            </div>
          </div>
          <div class="col-lg-4 col-md-4 col-xs-12">
            <div class="works-item">
              <div class="icon-box">
                <i class="lni-thumbs-up"></i>
              </div>
              <p style="color: #1F5AB0;">Deal Done</p>
            </div>
          </div>
          <hr class="works-line">
        </div>
      </div>
    </section>
    <!-- Works Section End -->

    <!-- Services Section Start -->
    <section class="services bg-light section-padding">
      <div class="container">
        <div class="row">
          <div class="col-12 text-center">
            <div class="heading">
              <h2 class="section-title" >Key Features</h2>
              </div>
          </div>
          <!-- Services item -->
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
              <div class="icon">
                <i class="lni-leaf"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Verified & Certified Professional</a></h3>
                <p>All our service providers are screened, background verified and rated by customers like you.</p>
              </div>
            </div>
          </div>
          <!-- Services item -->
         
          <!-- Services item -->
          <div class="col-md-6 col-lg-6 col-xs-12">
            <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
              <div class="icon">
                <i class="lni-color-pallet"></i>
              </div>
              <div class="services-content">
                <h3><a href="#">Re-work Assurance</a></h3>
                <p>Delo Services offers top quality services.If you're not satisfied contact us. We'll get a rework done to your satisfaction at no extra charge.</p>
              </div>
            </div>
          </div>
          
          
        
        </div>
      </div>
    </section>
    <!-- Services Section End -->

    
    <!-- blog Section End -->

    <!-- Subscribe Section Start -->
    <section class="subscribes section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
            <div class="subscribes-inner">
              <div class="icon">
                <i class="lni-pointer"></i>
              </div>
              <div class="sub-text">
                <h3>Subscribe to Newsletter</h3>
               
              </div>
            </div>
          </div>
          <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
              <form action="/login/subscribe" method=post >
              <div class="subscribe">
                <input class="form-control" name=email placeholder="Enter your Email" required="" type="email">
                <button class="btn btn-common" type="submit">Subscribe</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </section>
    <!-- Subscribe Section End -->
  
    <!-- Footer Section Start -->
    
    <% include ./indexfooter.ejs %>
    <script>
 $('.category').click(function(){
    const id = $(this).attr('id');
    $.post('/category/getid',{id},data=>{
      window.location.href = '/category/bysubcategory'
    })
    })

  </script>
  
  <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
  <script>
    AOS.init();
  </script>
  
  
    <script>

      $('.call').click(function(){
        alert('a')
        const from = '9131705082'
        const to ='8319339945'
       $.post('/booking/a',{from,to},data=>{
         alert('a')
       })
      })
      </script>


<script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1301399890]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1301399890&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
  </script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script type="text/javascript" src="https://code.jquery.com/jquery-1.8.2.js"></script>
     
<script type='text/javascript'>
$(function(){
var overlay = $('<div id="overlay"></div>');
overlay.show();
overlay.appendTo(document.body);
$('.popup').show();
$('.close').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});


 

$('.x').click(function(){
$('.popup').hide();
overlay.appendTo(document.body).remove();
return false;
});
});
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.js"></script>
<script>

$('.responsive').slick({
  dots: true,
	prevArrow: $('.prev'),
	nextArrow: $('.next'),
  infinite: false,
  speed: 300,
  slidesToShow: 4,
  slidesToScroll: 4,
  responsive: [
    {
      breakpoint: 1024,
      settings: {
        slidesToShow: 3,
        slidesToScroll: 3,
        infinite: true,
        dots: true
      }
    },
    {
      breakpoint: 600,
      settings: {
        slidesToShow: 2,
        slidesToScroll: 2
      }
    },
    {
      breakpoint: 480,
      settings: {
        slidesToShow: 1,
        slidesToScroll: 1
      }
    }
    // You can unslick at a given breakpoint now by adding:
    // settings: "unslick"
    // instead of a settings object
  ]
});
</script>

