<!DOCTYPE html>
<html lang="en">

<head>
 <!-- Google Tag Manager -->
<script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-ML97D45');</script>
  <!-- End Google Tag Manager -->

  <meta name="p:domain_verify" content="facc8b8cd20898e52a2b8e767111d661"/>

  <!-- Global site tag (gtag.js) - Google Analytics -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140402344-1"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', 'UA-140402344-1');
  </script>
  <!--End -->

  <meta property="fb:pages" content="357112871580780"/>

  <!-- Required meta tags -->
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="ahrefs-site-verification" content="82ae250eefa0b00ae36e7346be0e2795772b4158e9d7444f194d13c8ccf476bd"/>

  <title>Delo Service -One Stop Destination for all B2B & B2C Search Engine and Market Place.</title>

  <!--META SEO START-->
  <meta charset="UTF-8"> 
  <meta name="description"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />
  <meta name="keywords" content="electrician near me,electrician,electrical technician,24 hour electrician,electrical technician,local electricians,skin care , salon at home , beauty parlour services at home , electrician ,  carpenter , pest control at home , plumber , massage at home , washing machine repair near me , deep cleaning , sofa cleaning , cleaning upholstery , water purifier " />
  <meta name="google-site-verification" content="5TB0irTJKkDjgSE2r-gp9HOL-pksD8SF7rvpPlgn-_c" />
  <meta name="google-site-verification" content="KUK42ZousazAe0Ye4J3GmWELjP9NL8ePB8fOSiUAjqE">
  <meta name="msvalidate.01" content="C80D427BDFDF46CFEB5C748950D62040" />
  <meta name="robots" content="all,follow" />
  <meta name="googlebot" content="index, follow" />

  <meta name="classification"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />
  <link href="https://cdn.lineicons.com/2.0/LineIcons.css" rel="stylesheet">
  <link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">
  <meta name="distribution" content="Global" />
  <meta name="author" content="https://www.deloservices.com" />
  <meta name="Language" content="English" />
  <meta name="rating" content="general" />
  <meta name="owner" content="DELO SERVICES PRIVATE LIMITED." />
  <meta http-equiv="refresh" content="300">
  <meta name="document-type" content="public" />
  <meta name="revisit-after" content="daily" />
  <meta name="country" content="India" />

  <meta name="DC.title"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />

  <meta property="fb:admins" content="357112871580780" />
  <meta property="og:title"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />
  <meta property="og:type"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />
  <meta property="og:url" content="https://www.deloservices.com" />
  <meta property="og:image" content="https://www.deloservices.comhttps://www.deloservices.com/images/logo.jpg" />
  <meta property="og:site_name" content="https://www.deloservices.com" />
  <meta property="og:description"
    content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place." />
  <meta property="og:locale" content="en IN" />
  <link rel="canonical" href="https://www.deloservices.com">
  <meta name="geo.region" content="IN-DL" />
  <meta name="geo.placename" content="New Delhi" />
  <meta name="geo.position" content="28.55629, 77.1732011" />
  <meta name="ICBM" content="28.55629, 77.1732011" />
  <!-- Required meta tags -->
  <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />

  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css">
  <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">

  <!-- Bootstrap CSS -->
  <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
  <!-- Icon -->
  <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
  <!-- Slicknav -->
  <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">

  <!-- Animate -->
  <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
  <!-- Owl carousel -->
  <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
  <!-- Main Style -->
  <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
  <!-- Responsive Style -->
  <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">


  <!-- <script>
    function initFreshChat() {
    window.fcWidget.init({
    token: "11557ade-24a6-41bd-9641-ea40a171209c",
    host: "https://wchat.in.freshchat.com"gi
    });
    }
    function initialize(i,t){
    var e;
    i.getElementById(t) ? initFreshChat() :
    ((e=i.createElement("script")).id=t,
    e.async=!0,e.src="https://wchat.in.freshchat.com/js/widget.js",
    e.onload=initFreshChat,i.head.appendChild(e))
    }
    function initiateCall() {
    initialize(document,"freshchat-js-sdk")
    }
    window.addEventListener ?
    window.addEventListener("load",initiateCall,!1):
    window.attachEvent("load",initiateCall,!1);
    </script> -->

  <style>
    body {
      margin: 0;
      padding: 0;
      font-family: 'Montserrat', sans-serif;
    }




    .caption {
      font-size: 30pt;
      text-transform: uppercase;
      color: #fff;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .caption:after {
      content: "\A";
      width: 10px;
      height: 10px;
      border-radius: 50%;
      background: #00bbeb;
      display: inline-block;
      margin: 0 0 -2px;
    }


    img {
      width: 100%;
      height: auto;
      padding: 0px;
    }

    .slick-dots {
      text-align: center;
      margin: 0 0 10px 0;
      padding: 0;
    }

    .slick-dots li {
      display: inline-block;
      margin-left: 4px;
      margin-right: 4px;
    }

    .slick-dots li.slick-active button {
      background-color: #999;
    }

    .slick-dots li button {
      font: 0/0 a;
      text-shadow: none;
      color: transparent;
      background-color: #999;
      border: none;
      width: 15px;
      height: 15px;
      border-radius: 50%;
    }
    .slick-dots li :hover {
      background-color: #999;
    }
    
    /* Custom Arrow */
    .prev {
      color: #999;
      position: absolute;
      top: 38%;
      left: -2em;
      font-size: 1.5em;
    }

    .prev :hover {
      cursor: pointer;
      color: #999;
    }

    .next {
      color: #999;
      position: absolute;
      top: 38%;
      right: -2em;
      font-size: 1.5em;
    }

    .next :hover {
      cursor: pointer;
      color: black;
    }

    @media screen and (max-width: 900px) {
      .next {
        display: none !important;
      }
    }

    
  </style>


<style>
  @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700"); */
 
 
  .scroll p {
    color: #fff;
    font-size: 1.5rem;
  }
  
  .btn.book-now {
    margin-top:255px;
    z-index: 500;
    background: #ff9e1f;
    border-radius: 4px;
    color: #141313;
    display: inline-block;
    font-size: 1rem;
    height: 30px;
    line-height: 20px;
    position: fixed;
    right: 0;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;

    -moz-transform: rotate(-90deg);
    -ms-transform: rotate(-90deg);
    -o-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform-origin: bottom right;
  }
  </style>






  <style>
    /* Icon set - https://ionicons.com/ */
    @import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
    @import url(https://fonts.googleapis.com/css?family=Raleway:400,800);

    figure.snip1139 {
      font-family: 'Raleway', Arial, sans-serif;
      position: relative;
      overflow: hidden;
      margin: 10px;

      width: 100%;
      height: 170px;
      color: #333;
      text-align: left;
      box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
      border-radius: 8px;
    }

    figure.snip1139 * {
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
      transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
    }

    figure.snip1139 img {
      max-width: 100%;
      vertical-align: middle;
    }

    figure.snip1139 blockquote {
      position: relative;
      background-color: #ffffff;
      padding: 25px 50px 25px 50px;
      font-size: 0.8em;
      font-weight: 500;
      text-align: left;
      margin: 0;
      line-height: 1.6em;
      font-style: italic;
    }

    figure.snip1139 blockquote:before,
    figure.snip1139 blockquote:after {
      font-family: 'FontAwesome';
      content: "\201C";
      position: absolute;
      font-size: 50px;
      opacity: 0.3;
      font-style: normal;
    }

    figure.snip1139 blockquote:before {
      top: 25px;
      left: 20px;
    }

    figure.snip1139 blockquote:after {
      content: "\201D";
      right: 20px;
      bottom: 0;
    }

    figure.snip1139 .arrow {
      top: 100%;
      width: 0;
      height: 0;
      border-left: 0 solid transparent;
      border-right: 25px solid transparent;
      border-top: 25px solid #ffffff;
      margin: 0;
      position: absolute;
    }

    figure.snip1139 .author {
      position: absolute;
      bottom: 0;
      width: 100%;
      padding: 5px 25px;
      color: #000000;
      background-color: #ffffff;
      margin: 0;
      text-transform: uppercase;
    }

    figure.snip1139 .author h5 {
      opacity: 0.8;
      margin: 0;
      font-weight: 800;
    }

    figure.snip1139 .author h5 span {
      font-weight: 400;
      text-transform: none;
      padding-left: 5px;
    }



    /* Demo purposes only */
    html {
      height: 80%;
    }


    body {


      justify-content: center;
      align-items: center;
      flex-flow: wrap;

    }



    h5 {
      color: #1f5ab0;
    }

    .form-control {
      border-radius: 5px;
    }
  </style>



  <!---scroll bar style-->


  <style>
    input::-webkit-input-placeholder {
      color: black !important;
    }

    input:-moz-input-placeholder {
      /* Firefox 18- */
      color: black !important;
    }

    input::-moz-input-placeholder {
      /* Firefox 19+ */
      color: black !important;
    }

    input:-ms-input-placeholder {
      color: black !important;
    }
  </style>


  <style>
    /* width */
    ::-webkit-scrollbar {
      width: 8px;
    }

    /* Track */
    ::-webkit-scrollbar-track {
      box-shadow: inset 0 0 5px grey;
      border-radius: 6px;
    }

    /* Handle */
    ::-webkit-scrollbar-thumb {
      background: #1F5AB0;
      border-radius: 6px;
    }

    /* Handle on hover */
    ::-webkit-scrollbar-thumb:hover {
      background: #1F5AB0;
    }




    .category-b {
    background-color: #fff;
    margin: 20px 0;
    height: 175px;
    box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
    border-radius: 10px;
    position: relative;
    -webkit-transition: all .5s linear;
    -moz-transition: all .5s linear;
    -ms-transition: all .5s linear;
    -o-transition: all .5s linear;
    transition: all .5s linear;
  }
  
  .category-b:hover {
    box-shadow: 0 5px 11px 0 rgba(0, 0, 0, 0.18), 0 4px 15px 0 rgba(0, 0, 0, 0.15);
  }
  
  </style>

  
  
  <!--STYLE END SCROLL BAR-->

 
 
  

  <style>
    body,
    button {
      font-family: 'Times New Roman';
      font-size: 12pt;
    }

    a:hover {
      cursor: pointer;
    }





    datalist {
      display: none;
    }

    option {
      padding: 3px;
    }

    option:hover {
      background-color: #11E8EA;
    }



    /* to hide datalist arrow in webkit */

    input::-webkit-calendar-picker-indicator {
      display: none;
    }

    @media screen and (min-width:320px) and (max-width:768px) {


      .no {
        display: none;
      }

      .nav1 {
        display: none;
      }

      .search1 {
        display: none;
      }

    }


    @media screen and (min-width:769px) and (max-width:5800px) {


      .nav2 {
        display: none;
      }

      .search2 {
        display: none;
      }

    }

    .ul {
      list-style: none;
      padding: 0px;
      margin: 0px;

    }

    .ul .li {


      list-style: none;
      color: black;
      padding: 0px;
      margin: 0px;


    }

    a {

      color: black;
      font-size: 13px;
      font-family: 'Lato', sans-serif;
    }



    .li:hover {
      border-left: 3px solid #507ec0;
      background-color: whitesmoke;
      color: #507ec0;
      padding: 0px;
      margin: 0px;


    }

   
      /* font-base: sans-serif;
    font-about: sans-serif;

    dark-grey: #222222;
    dark-orange: #fca311;
    light-white: #f5f5f5;
    light-gray: #e5e5e5;
    dark-orange: #b8770d; */

 

    .dark-gray-background {
      background-color:grey;
    }

    .dark-gray-font {
      color:grey !important;
    }

    .light-white-font {
      color: white;
    }

    .container-fluid {
      min-height: 100%;
      padding: 0;
    }

    .fixed-width {
      max-width: 300px;
      min-width: 300px;
    }

    /*modal*/
    #carouselHeader h3 {
       
        position: relative;
        text-align: center;
      
    }
    /* Indicators list style */
    .project-slide .carousel-indicators {
      bottom: 0;
      left: 0;
      margin-left: 5px;
      width: 100%;
    }
    /* Indicators list style */
    .project-slide .carousel-indicators li {
      border: medium none;
      border-radius: 0;
      /* float: middle; */
      height: 35px;
      margin-bottom: -10px;
      margin-left: 0;
      margin-right: 5px !important;
      margin-top: 0;
      width: 50px;
      border-radius: 3px;

    }

    /* Indicators images style */
    .project-slide .carousel-indicators img {
      border: 2px solid orange;
      border-radius: 3px;
      float: left;
      height: 35px;
      left: 0;
      width: 50px;
      opacity: 0.7;
    }

    /* Indicators active image style */
    .project-slide .carousel-indicators .active img {
      border: 2px solid orange;
      opacity: 1;
    }

    /* carousel-control */
    .carousel-control {
      color: orange;
      opacity: 0.5;
    }

    .carousel-control:hover,
    .carousel-control:focus {
      color: orange;
      opacity: 1;
    }

    .carousel-control.left,
    .carousel-control.right {
      background: none !important;
      filter: none !important;
      /* progid: none !important; */
    }
  </style>
  
  
  
  <style>
    @import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400i,700");
   
    .scroll p {
      color: #fff;
      font-size: 1.5rem;
    }
    
    .btn.book-now {
      font-family: 'Open Sans', sans-serif;
      font-weight: 400;
      font-size: 16px;
     
       bottom:300px;
      z-index: 500;
      background: #ff9e1f;
      border-radius: 4px;
      color: #141313;
      display: inline-block;
      font-size: 1rem;
      height: 30px;
      line-height: 20px;
      position: fixed;
      right: 0;
  
      text-align: center;
      text-decoration: none;
      text-transform: uppercase;
  
      -moz-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
      -o-transform: rotate(-90deg);
      -webkit-transform: rotate(-90deg);
      transform-origin: bottom right;
    }
    </style>


<!-- winnerCss -->
<style>
/* Imports */
@font-face {
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/raleway/v18/1Ptxg8zYS_SKggPN4iEgvnHyvveLxVvaorCIPrQ.ttf) format('truetype');
}
@font-face {
  font-family: 'Sansita One';
  font-style: normal;
  font-weight: 400;
  src: url(https://fonts.gstatic.com/s/sansitaone/v14/4C_yLiLzHLn_suV0mhBUPDnwt-8.ttf) format('truetype');
}
/* Mixins */
/* Implementation */


/* H1 {
  font-family: 'Raleway', sans-serif;
  color: #FFF;
  background-color: #006151;
  letter-spacing: 1px;
  padding: 25px 0;
  margin: 0;
  text-align: center;
} */
.cards {
  margin-top: 25px;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 50px;
}
.card {
  position: relative;
  border-radius: 1em;
  width: 230px;
  height: 290px;
  background-color: #FFF;
  -webkit-box-shadow: 0 2px 5px #777;
  -moz-box-shadow: 0 2px 5px #777;
  box-shadow: 0 2px 5px #777;
  overflow: hidden;
  margin: 10px 10px;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.card .card-header {
  position: absolute;
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 45%;
}
.card .card-header .card-image {
  height: 55%;
}
.card .card-header.bg1 {
  background-color: #00A388;
}
.card .card-header.bg2 {
  background-color: #F89B3C;
}
.card .card-header.bg3 {
  background-color: #1EAAC2;
}
.card .card-content {
  position: absolute;
  top: 45%;
  left: 0;
  width: 100%;
  height: 55%;
  padding: 0 3%;
}
.card .card-content .card-title {
  margin: 10px 0;
  font-family: 'Raleway', sans-serif;
  text-align: center;
  
  margin-bottom: 15px;
  font-size: 1.3em;
}
.card .card-content .card-text {
  
 margin-top: 5px;
  -webkit-transform: translate(0, -50%);
  -moz-transform: translate(0, -50%);
  transform: translate(0, -50%);
  color: #AAA;
  font-family: 'Sansita One', sans-serif;
  font-size: 0.85em;
}
.card .card-content .card-more {
  position: absolute;
  right: 10%;
  bottom: 5%;
  text-decoration: none;
  font-family: 'Raleway', sans-serif;
  font-size: 0.9em;
  color: #1EAAC2;
  font-weight: bold;
}
.card .card-content .card-more:hover {
  color: #8ED4E0;
}
.card:hover {
  -webkit-box-shadow: 0 5px 6px #777;
  -moz-box-shadow: 0 5px 6px #777;
  box-shadow: 0 5px 6px #777;
  -webkit-transform: translate(0, -2%);
  -moz-transform: translate(0, -2%);
  transform: translate(0, -2%);
}
</style>
<!-- WInnerCss -->
</head>

<body style="color: black">
<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-ML97D45"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

    <nav class="navbar navbar-expand-lg bg-inverse  scrolling-navbar navbar-light nav1"
      style="background-color: white;  font-family: 'Lato', sans-serif;">
      <div class="container">
        <div class="theme-header clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">

            <a href="/" class="navbar-brand"><img src="/images/delomainlogo.png"
                alt="deloservices"> </a>

          </div>
          <div class=" navbar-collapse">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item dropdown  ulhov" style="margin-top: 15px;color:#888888">
                <a  class="nav-link " href="/" aria-expanded="false">
                  Home
                </a>

              </li>




              <% if(login == true){ %>
              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="lnr lnr-user"></i> My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                  <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                </ul>
              </li>
              <% } else { %>

              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link" href="/login" aria-expanded="false">
                  Login / Sign Up
                </a>

              </li>

              <% } %>


          


              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a class="nav-link " href="/team_login" aria-expanded="false">
                  Join Free
                </a>

              </li>

              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a  class="nav-link" href="/list-your-product" aria-expanded="false"><i class="lni-pencil-alt"></i> List Free Product</a>

              </li>

              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a  class="nav-link" href="/free-listing" aria-expanded="false"><i class="lni-pencil-alt"></i> List Free Service</a>

              </li>
             

              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a style="color:#1f5ab0" class="nav-link" href="/download"  aria-expanded="false"><span ><img src="/assets/img/d_icon.png" alt="download" style=" height:35px; width:30px; margin-right:-5px;"></span>  Download App</a>

              </li>
              







            </ul>
            <!-- </header> -->

          </div>
        </div>
      </div>
      <div class="mobile-menu" data-logo="https://www.deloservices.com/images/delomainlogo.png"></div>

    </nav>




    <!-- Navbar Start -->
    <nav class="navbar navbar-expand-lg bg-inverse fixed-top scrolling-navbar   navbar-light nav2"
      style="background-color: white;">
      <div class="container">
        <div class="theme-header clearfix">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <button class="navbar-toggler" type="button" data-toggle="collapse"
              aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
              <span class="lni-menu"></span>
            </button>
            <a href="/" class="navbar-brand"><img src="https://www.deloservices.com/images/delomainlogo.png"
                alt="deloservices"> </a>

          </div>
          <div class="collapse navbar-collapse ul" id="main-navbar">
            <ul class="navbar-nav mr-auto w-100 justify-content-end">
              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a class="nav-link " href="/" aria-expanded="false" style="border-bottom: 1px solid #ddd;
                list-style: none;
                color:black;">
                  Home
                </a>

              </li>




              <% if(login == true){ %>
              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link dropdown-toggle" href="#" data-toggle="dropdown" aria-haspopup="true"
                  aria-expanded="false">
                  <i class="lnr lnr-user"></i> My Account
                </a>
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="/booking"><i class="lnr lnr-cart"></i> My Booking</a></li>
                  <li><a class="dropdown-item" href="/login/logout"><i class="lnr lnr-file-add"></i>Logout</a></li>
                </ul>
              </li>
              <% } else { %>

              <li class="nav-item dropdown" style="margin-top: 15px;">
                <a class="nav-link" href="/login" aria-expanded="false" style="border-bottom: 1px solid #ddd;
                  list-style: none;
                  color:black;">
                  Login / Sign Up
                </a>

              </li>

              <% } %>

              <% for(i=0;i<result[2].length;i++){ %>
              <li class="nav-item dropdown li" style="margin-top: 15px;color:black">

                <a class="nav-link " href="/" aria-expanded="false" style="border-bottom: 1px solid #ddd;
                    list-style: none;
                    color:black;">

                  <%=result[2][i].name%>
                </a>

              </li>
              <% } %>


              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a class="nav-link " href="/team_login" aria-expanded="false">
                  For Business
                </a>

              </li>


              <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                <a class="nav-link " href="/team_login" aria-expanded="false">
                  Become A Team Member
                </a>

              </li>
              <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                <a class="btn btn-common btn-post"
                  href="https://play.google.com/store/apps/details?id=com.deloservices.deloservices"
                  aria-expanded="false">
                  Free Listing
                </a>
              </li>

              <li class="postadd" style="margin-top: 35px;">
                <a class="btn btn-common btn-post" href="/">Post Free Ad</a>
              </li>

            


            </ul>

          </div>
        </div>
      </div>

      <div class="mobile-menu" data-logo="https://www.deloservices.com/images/delomainlogo.png">
        <!-- <button type="button"class="btn btn-common" style="position:relative;left:50%;top:50%">Post an Ad</button> -->
      </div>

    </nav>

    <div>
      <a class="btn book-now desktop open-datepicker-popup" href="/team_login" title="Book Now">Join Free</a>
      <div class="scroll"></div>
     </div>



    <div id="hero-area">
      <div id="demo" class="carousel slide " data-interval="3000" data-ride="carousel" style="height: 10px; ">

      

        <!-- The slideshow -->
        <div class="carousel-inner" >
         
          <div class="carousel-item active">
            <a href="/"> <img src="/assets/img/republic.jpg" alt="AD" width="100" height="500"></a>
          </div>
          <div class="carousel-item ">
            <a href="/"> <img src="/assets/img/book.jpg" alt="AD" width="100" height="500"></a>
          </div>

          <div class="carousel-item">
            <a href="/"> <img src="/assets/img/DIAL1.jpg" alt="AD" width="1100" height="500"></a>
          </div>
         
         <div class="carousel-item">
            <a href=""> <img src="/assets/img/mart.jpg" alt="AD" width="1100" height="500"></a>
          </div>
         
          
        </div>

        <!-- Left and right controls -->
        <a class="carousel-control-prev" href="#demo" data-slide="prev">
          <span class=""></span>
        </a>
        <a class="carousel-control-next" href="#demo" data-slide="next">
          <span class=""></span>
        </a>
      </div>


     
      <div class="container search2">
        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-9 col-xs-12 text-center">
            <div class="contents">
              <div class="search-bar">
                <div class="search-inner1">

                  <form class=search-form action="/searchhai" method=post>



                    <div class="form-group inputwithicon">
                      <div class="select">
                        <input type="text" class="form-control" placeholder="Delhi NCR" readonly>
                      </div>
                      <i class="lni-target" style="color: #1F5AB0;"></i>
                    </div>
                    <div class="form-group inputwithicon">
                      <div class="select">

                        <input list=text_editors type="text" name="search" class="form-control"
                          placeholder="Search For Anything" style="color:#888888 ">
                      </div>
                      <i class="lni-search"></i>
                      <i class="lni-search" style="color: #1F5AB0;"></i>
                    </div>
                    <button class="btn btn-common" type="submit"> Search Now</button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container search1">

        <div class="row justify-content-center">
          <div class="col-md-9 col-lg-9 col-xs-12 text-center">
            <div class="contents">
              <div class="search-bar">
                <div class="search-inner">
                  <form class="search-form" action="/searchhai" method="POST">
                    <div class="form-group inputwithicon">
                      <div class="select">
                        <select id="cityid" class="city_change" name="city" style="color: black;position:relative;bottom:7px"></select>
                      </div>
                      <i class="lni-target" style="margin-top:-7px"></i>
                    </div>
                    <div class="form-group">
                      <input list=text_editors type="text" name="search" class="form-control"
                        placeholder="Search For Anything" style="color:#888888;text-align: center;position:relative;bottom:7px">

                    </div>


                    <button class="btn btn-common" type="submit" style="width:65px">
                      <i class="lni-search" style="font-size: 25px;position: relative;bottom: 7px;"></i></button>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>


    </div>



    <div class="container">
      <div class="row">
        <div   style="background-color:#ff6000; width:1110px;margin-left:15px;">
          <a href="https://www.mygov.in/covid-19/" target="_blank"  ><p class="text-center" style="margin-top:10px;"><img class="img-fluid"  src="/images/cd2.png" alt="Corona" style="height:50px;width:50px; margin-top:-7px;"> <span style="font-size:24px;  color:white;font-weight: bold; ">Covid - 19 Live Updates & News</span></p></a>
        
        </div>
      </div>
    </div>


  <!-- Main container Start -->
  <div class="main-container section-padding">
    <div class="container">


      <div class="row">
        <div class="col-lg-3 col-md-12 col-xs-12 page-sidebar no ">
          <aside>
            <!-- Searcg Widget -->

            <div id="dial_delo_category_list"></div>
          </aside>
        </div>

        <div class="col-lg-9 col-md-12 col-xs-12 page-content"> 
          
          <!-- Header Area wrapper End -->

          <!-- Categories item Start -->
          <section id="categories" class="section-padding" style="background-color:whitesmoke; margin-top:0px">
            <div class="container ">
              <div class="row">


                <div class="col-12 text-center">
                  <div class="heading">
                    <h2 class="section-title" style="font-size: 34px;font-weight: bold;"><span
                        style="color:black;font-weight: bold;font-size: 30px;">Book Your </span>
                      <span style="font-family:'magneto';font-weight:bold;font-size: 34px"></span> <span
                        style="color:black;font-size: 30px">Services</span>
                    </h2>



                  </div>
                </div>





                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 " >

                  <a style="text-decoration: none" href="/delhi-ncr-<%=result[0][3].seo_name%>">
                    <img src="/assets/img/elec2.jpg"
                      title="<%=result[0][3].name%>" alt="<%=result[0][3].name%>"
                      style="height:140px;border-radius:4px;padding:0px;margin-top:10px;">

                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif; margin-top:5px;color:#888888;margin-left: 7px;">
                      <%=result[0][3].name%></h3>
                  </a>

                </div>
                
                <br><br><br>

                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 ">


                  <a style="text-decoration: none" href="/delhi-ncr-<%=result[0][11].seo_name%>">
                    <img src="/assets/img/plum1.jpg"
                      title="<%=result[0][11].name%>" alt="<%=result[0][11].name%>"
                      style="height:140px;border-radius:4px;padding:0px;margin-top:10px;">

                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:5px;color:#888888;margin-left: 7px;">
                      <%=result[0][11].name%></h3>
                  </a>


                </div>
                <br><br><br>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3 ">

                  <a style="text-decoration: none" href="/delhi-ncr-<%=result[0][14].seo_name%>">
                    <img src="/assets/img/homec1.jpg"
                      title="<%=result[0][14].name%>" alt="<%=result[0][14].name%>"
                      style="height:140px;border-radius:4px;padding:0px; margin-top:10px;">

                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:5px;color:#888888;margin-left: 7px;">
                      <%=result[0][14].name%></h3>
                  </a>


                </div>
                <br><br><br>

                <div class="col-xs-12 col-sm-12 col-md-6 col-lg-3  ">

                  <a style="text-decoration: none" href="delhi-ncr-beauty-at-home">
                    <img src="/assets/img/mkp.jpg"
                      title="Beauty At Home" alt="Beauty At Home"
                      style="height:140px;border-radius:4px;padding:0px;margin-top:10px;">

                    <h3 style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:5px;color:#888888;margin-left: 7px;">
                      Beauty At Home</h3>
                  </a>


                </div>
                <br><br><br>




                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 " >


                  <a style="text-decoration: none" href="/delhi-ncr-<%=result[0][6].seo_name%>">
                    <img src="/assets/img/pest1.jpg"
                      title="<%=result[0][6].name%>" alt="<%=result[0][6].name%>"
                      style="height:140px;border-radius:4px;padding:0px;margin-top:10px;">

                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:5px;color:#888888;margin-left: 7px;">
                      <%=result[0][6].name%></h3>
                  </a>


                </div>
                <br><br><br>




                <% for(i=24;i<25;i++){%>
                  <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 " >


                  <a style="text-decoration: none" href="/delhi-ncr-<%=result[0][i].seo_name%>">
                    <img src="/assets/img/appliances1.jpeg"
                      title="<%=result[0][i].name%>" alt="<%=result[0][8].name%>"
                      style="height:140px;border-radius:4px;padding:0px;margin-top:10px;">

                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:5px;color:#888888;margin-left: 7px;">
                      <%=result[0][i].name%></h3>
                  </a>


                </div>
                <br><br><br>

                <% } %>

                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 ">


                  <a style="text-decoration: none" href="/delhi-ncr-water-purifier">
                    <img src="/assets/img/wtr.png"
                      title="Water Purifier" alt="Water Purifier"
                      style=" background-color:rgb(240, 238, 238); border:1px solid rgb(243, 239, 239);margin-top:10px; margin-left:0px; padding:0px; margin-left:20px; width:150px; height:120px;border-radius: 4px;">
                    <h3
                      style="font-size:13px;font-family: 'Lato', sans-serif;margin-top:0px;color:#888888;margin-left: 7px;">
                      Water Purifier</h3>
                  </a>


                </div>


                <br><br><br>

               

                <div class=" col-xs-12 col-sm-12 col-md-6 col-lg-3 " >


                  <a style="margin-top: 5px; " href="/delhi-ncr/all-category">
                   
<div>
                   
                      <img src="/assets/img/m5.jpg"  alt="view More" style=" background-color:rgb(240, 238, 238); border:1px solid rgb(243, 239, 239);margin-top:10px; margin-left:0px; padding:0px;  height:140px;border-radius: 4px;">
                       <h3 style=" font-size:13px;font-family: 'Lato', sans-serif; margin-top:10px;color:#888888;margin-left: 5px;">
                      View More...</h3>
                    </div>
                  </a>


                </div>
                <br><br>




              </div>
            </div>
          </section>

</div>
<!-- Winner Section -->




<!-- Winner Section -->



<div class="row">
  <div class="col-lg-12">
    dd
  </div>
</div>
      <div id="d" class="carousel slide" data-interval="2000" data-ride="carousel" style="margin-top: 20px;">
            <h1 class="section-title"><span style="color:black">Popular</span> Services</h1>
           
            <div class="carousel-inner" style="height: 250px;">
        
              <!-- <div class="carousel-item active">
               <a href="/delhi-ncr-salon-at-home"> <img src="/images/saloon.jpg" alt="DeloPedicure"></a>
              </div> -->
              
              <div class="carousel-item active">
                <a href="/delhi-ncr-electrician"> <img src="assets/img/ELEC1.jpg" alt="Delo"></a>
              </div>
             
             
              <div class="carousel-item ">
                <a href="/delhi-ncr-beauty-at-home"> <img src="assets/img/Beauty123.jpg" alt="Delo"></a>
              </div>
              
              <div class="carousel-item">
                <a href="/delhi-ncr-carpentry"> <img src="assets/img/cptr.jpg" alt="Delo"></a>
              </div>
              
              <div class="carousel-item">
                <a href="/delhi-ncr-home-cleaning"> <img src="assets/img/Homecl.jpg" alt="Delo"></a>
              </div>
            </div>
            
            <!-- Left and right controls -->
            <a class="carousel-control-prev" href="#d" data-slide="prev">
              <!-- <span class="carousel-control-prev-icon" ></span> -->
            </a>
            <a class="carousel-control-next" href="#d" data-slide="next">
              <!-- <span class="carousel-control-next-icon"></span> -->
            </a>
          
          </div>

          <!-- Categories item End -->

          <!-- Featured Section Start -->
          <br>


         
    




            <div class="col-12 text-center" style="margin-top:0px">
              <div class="heading">
                <h2 class="section-title"><span style="color:black"> </span> <a href="/delo-mart/user/<%=result[0][i].seo_name%>/<%=result[0][i].id%>/IN/India/Product/Send/Enquiry/Details" class="btn btn-primary btn-block"  style="color:white"><i class="lni-pencil-alt" style="margin-left:0px;border-radius: 5px;"></i> Request for a Quote</a> </h2>

              </div>
            </div>

 <!-- Featured Listings Start -->



<!-- Winner -->
<h1 style="font-family: 'Raleway', sans-serif; color: #FFF;background-color: #006151;letter-spacing: 1px;padding: 25px 0;margin: 0;text-align: center;">Delo Contest Winners</h1>

    <div class="cards">

      <div class="card">
        <div class="card-header bg1">
          <img class="card-image" src="https://image.flaticon.com/icons/svg/321/321837.svg" alt="Winner"/>
        </div>
        <div class="card-content">
          <h2 class="card-title">Prize: 50% Off</h2>
          <p class="card-text">Name: Kuldeep</p>
          <!-- <p class="card-text">Number:</p> -->
          <a class="card-more" href="#" alt="More Info">more...</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg2">
          <img style="border-radius: 50%; width:70px; height: 100px;" class="card-image" src="assets/img/bunty.jpeg" alt="Winner"/>
        </div>
        <div class="card-content">
          <h2 class="card-title">Prize: Free Service of 500</h2>
          <p class="card-text">Name: Bhavneet Sharma</p>
          <a class="card-more" href="#" alt="More Info">more...</a>
        </div>
      </div>

      <div class="card">
        <div class="card-header bg3">
          <img class="card-image" src="https://image.flaticon.com/icons/svg/321/321854.svg" alt="Share"/>
        </div>
        <div class="card-content">
          <h2 class="card-title">Prize: 50% Off</h2>
          <p class="card-text">Name:Abhishek</p>
          <a class="card-more" href="#" alt="More Info">more...</a>
        </div>
      </div>

    </div>

   <!-- Winner -->
  

 <section class="featured-lis section-padding" style="background-color:rgb(247, 247, 247) ">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <div class="heading" style="margin-top: 15px;">
          <h1 class="section-title"><span style="color:black">Trending</span> Products</h1>
          <!-- <h4 class="sub-title">Top-rated local businesses</h4> -->
        </div>
      </div>
      <div class="col-md-12 wow fadeIn" data-wow-delay="0.5s">
        <div id="new-products" class="owl-carousel owl-theme">
         
         


          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <a href="/delo-mart-hygiene-personal-care/hygiene-&-sanitizers"><img class="img-fluid" src="assets/img/sanitizer1.jpg" style="height:200px;width:250px" alt="Sanitizer"> </a>
                <div class="overlay">
               
                </div> 
                <!-- <span class="price">$269.00</span> -->
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="/delo-mart-hygiene-personal-care/hygiene-&-sanitizers">Sanitizers</a></h3>
                  <span>Health Care & Personal Care</span>
                  <!-- <div class="icon">
                    <span><i class="lni-bookmark"></i></span>
                    <span><i class="lni-heart"></i></span>
                  </div> -->
                </div>
               
              </div>
            </div>
          </div>




          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb" >
                <a href="delo-mart-hygiene-personal-care/covid-19"><img class="img-fluid" src="assets/img/mask2.jpg"  style="height:200px;width:250px" alt="Mask"> </a>
                <div class="overlay">
                  
                </div> 
              
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="delo-mart-hygiene-personal-care/covid-19">Mask</a></h3>
                  <span>Health Care & Personal Care</span>
                  
                </div>
                
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <a href="delo-mart-hygiene-personal-care/covid-19"><img class="img-fluid" src="assets/img/ppe2.jpg"  style="height:200px;width:250px" alt="PPE Kit"> </a>
                <div class="overlay">
                  
                </div> 
                
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="delo-mart-hygiene-personal-care/covid-19">PPE Kit</a></h3>
                  <span>Health Care & Personal Care</span>
                 
                </div>
                
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <a href="delo-mart-hygiene-personal-care/covid-19"> <img class="img-fluid" src="assets/img/shield1.jpg"  style="height:200px;width:250px" alt="Face Shield"> </a>
                <div class="overlay">
                  
                </div> 
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="delo-mart-hygiene-personal-care/covid-19">Face Shield</a></h3>
                  <span>Health Care & Personal Care</span>
                  
                </div>
                
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <a href="delo-mart-hygiene-personal-care/covid-19"> <img class="img-fluid" src="assets/img/gloves2.jpg" style="height:200px;width:250px" alt="Gloves"> </a>
                <div class="overlay">
                  
                </div> 
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="delo-mart-hygiene-personal-care/covid-19">Gloves</a></h3>
                  <span>Health Care & Personal Care</span>
                 
                </div>
                
              </div>
            </div>
          </div>


          <div class="item">
            <div class="product-item">
              <div class="carousel-thumb">
                <a href="delo-mart-hygiene-personal-care/covid-19"> <img class="img-fluid" src="assets/img/gun1.jpg"  style="height:200px;width:250px" alt="Thermal Gun"> </a>
                <div class="overlay">
                  
                </div> 
                
              </div>    
              <div class="product-content-inner">
                <div class="product-content">
                  <h3 class="product-title"><a href="delo-mart-hygiene-personal-care/covid-19">Thermal Gun</a></h3>
                  <span>Health Care & Personal Care</span>
                  
                </div>
                
              </div>
            </div>
          </div>
        </div>
      </div> 
    </div>
  </div>
</section>




<!-- Featured Listings End -->



                      <!-- Categories Homepage Section Start -->
                      <section id="categories-homepage" style=" margin-top:40px;">
                        <div class="container">
                          <div class="row">
                            <div class="col-md-12">
                              <h1 class="section-title" style="font-weight: bold;font-size: 34px;">
                                <span style="font-family:'magneto';font-weight:bold;margin-bottom: 8px;font-size: 40px">D</span><span>elo</span>
                                <span style="color:black;font-size:34px;font-weight: bold;"> Mart B2B</span> <span style="color:#1f5ab0">Category</span> <span><img src="/images/b2b.png" alt="Business" style="width:60px;margin-top:-10px;margin-left:0px;"> </span></h1>
                               
                             
                              
                              </div>
                             
                              
                            

                            <% let k=3;%>
                            <% for(i=0;i<result[3].length;i++){
           
            k=k+1; 
            %>

                            <div class="col-lg-3 col-md-6 col-xs-12">
                              <div class="category-box border-<%=i+1%> wow fadeInUpQuick" data-wow-delay="0.3s">
                                <div class="icon">
                                  <a href="/delo-mart-<%=result[3][i].seo_name%>"><i
                                      class="lnr lnr-users color-<%=i+1%>"><img src="/dial_icon/<%=result[3][i].logo%>" alt="<%=result[3][i].name%>">
                                    </i>
                                    <!-- <img src="/dial_icon/<%=result[3][i].logo%>"> -->
                                  </a>
                                </div>
                                <div class="category-header">
                                  <a href="/delo-mart-<%=result[3][i].seo_name%>">
                                    <h4><%=result[3][i].name%></h4>
                                  </a>
                                </div>
                                <div class="category-content">
                                  <ul>

                                    <% for(j=0;j<5;j++){%>

                                    <li>
                                      <a href="/delo-mart-<%=result[3][i].seo_name%>/<%=result[k][j].seo_name%>"><%=result[k][j].name%></a>

                                    </li>
                                    

                                    <% }%>

                                    <li>
                                      <a href="/delo-mart-<%=result[3][i].seo_name%>">View all.. </a>
                                    </li>
                                  </ul>
                                </div>
                              </div>
                            </div>

                            <%} %>

                            
                          </div>
                        </div>
                      
          </section>
          <a class="btn book-now desktop open-datepicker-popup" href="/team_login" title="Book Now">Join Free</a>
  <div class="scroll"></div>





          <!-- Featured Section End -->





        </div>

        <a class="btn book-now1 desktop open-datepicker-popup" href="/Career" title="Book Now">Career</a>
        <div class="scroll1"></div>

      </div>
    </div>
  </div>
 




  <section class="subscribes ">
    <div class="container">
      <div class="row">
        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
          <div class="">

            <div class="sub-text" style="margin-left:0px;text-align:center;align-items: center">
             
              <iframe style="width:150px;height:240px;margin-left:30px;text-align:center;align-items:center; border:none;"  
                src="//ws-in.amazon-adsystem.com/widgets/q?ServiceVersion=20070822&OneJS=1&Operation=GetAdHtml&MarketPlace=IN&source=ac&ref=tf_til&ad_type=product_link&tracking_id=deloservices-21&marketplace=amazon&region=IN&placement=B07SSGJYH3&asins=B07SSGJYH3&linkId=e3d0d1a475f803ffcf7f65454f5a2801&show_border=false&link_opens_in_new_window=false&price_color=333333&title_color=0066c0&bg_color=ffffff">
              </iframe>
            
            </div>
          </div>
        </div>


        

        <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">


          <div class="subscribe">


            <img src="/images/download_app.png" alt="Mobile" style="height:250px;">
           
          </div>

        </div>



        <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12" style="margin-top:5%;margin-left:50px">

          <h5 style="color:black;font-weight:bold">Get <span
              style="font-family:'magneto';font-weight:bold;color:#1f5ab0">D</span><span
              style="color:#1f5ab0">elo</span> Services App</h5>
          <p style="color:black">Search Product with Verified Buyers, Sellers and Services with Professionals.</p>
          <br>
          <form action="#" method=post>
            <div class="subscribe1">



              <input class="form-control" id="number" placeholder="Enter your Mobile Number" required type="number">
              <button class="btn btn-common getlink" type="button" style="margin-top: 33px;">Send</button>
            </div>
          </form>
          <br><br><br>
          <a href="https://app.appsflyer.com/com.deloservices.deloservices?pid=MobileWeb&c=home_app_buttons"> <img
              src="/images/android1.png" style=" width:110px; height:38px;" alt="google play store"></a>
          <a href="https://app.appsflyer.com/id1497496631?pid=MobileWeb&c=home_app_buttons"><img
              src="/images/apple1.png" style=" width:110px; height:38px; " alt="apple store"> </a>


        </div>



      </div>
    </div>
  </section>




  
  <!-- Works Section End -->

  <!-- Services Section Start -->
  <section class="services section-padding" style="background-color:#E8F0FE">
    <div class="container" style="background-color:#E8F0FE">
      <div class="row">
        <div class="col-12 text-center">
          <div class="heading">
            <h2 class="section-title mt-3">Key Features</h2>
          </div>
        </div>
        <!-- Services item -->
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.2s">
            <div class="icon">
              <i class="lni-leaf"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Verified Buyers, Sellers & Professionals</a></h3>
              <p>All our  Buyers, Sellers and Professionals are screened, verified and rated by customers like you.</p>
            </div>
          </div>
        </div>
        <!-- Services item -->

        <!-- Services item -->
        <div class="col-md-6 col-lg-6 col-xs-12">
          <div class="services-item wow fadeInRight" data-wow-delay="0.6s">
            <div class="icon">
              <i class="lni-color-pallet"></i>
            </div>
            <div class="services-content">
              <h3><a href="#">Re-work Assurance</a></h3>
              <p>Delo Services offers top quality services.If you're not satisfied contact us. We'll get a rework done
                to your satisfaction at no extra charge.</p>
            </div>
          </div>
        </div>



      </div>
    </div>
  </section>
  <!-- Services Section End -->


  <!-- blog Section End -->

  <!-- Subscribe Section Start -->
  <section class="subscribes section-padding">
    <div class="container">
      <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
          <div class="subscribes-inner">
            <div class="icon" style="margin-right:-10px; margin-top:0px;">
              <i class="lni lni-target-customer"></i>
            </div>
            <div class="sub-text mt-2">
              <h3 style="margin-top:7px">SUBSCRIBE NOW</h3>

            </div>
          </div>
        </div>
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12 mb-1">
          <form action="/login/subscribe"  method=post >
            <div class="subscribe ">
              <input class="form-control" name=email placeholder="Enter your Email" required type="email">
              <button class="btn btn-common" type="submit">Subscribe</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </section>




  <!-- Main container End -->

  <!-- Subscribe Section End -->

  <!-- Footer Section Start -->



  <% include ./indexfooter.ejs %>




  <script>
    $('.category').click(function () {
      const id = $(this).attr('id');
      $.post('/category/getid', { id }, data => {
        window.location.href = '/category/bysubcategory'
      })
    })

  </script>






 


  <script>

    $('.getlink').click(function () {

      if ($('#number').val() == null || $('#number').val() == "null" || $('#number').val() == "" || $('#number').val() == []) {
        alert("Enter Mobile Number...")
      }
      else if ($('#number').val().length < 10 || $('#number').val().length > 10) {
        alert('Enter Correct Mobile Number...')
      }
      else {
        const number = $('#number').val()
        $.post('/blogs/dowanload_app', { number }, data => {
          alert('Send Successfully...')
        })
      }

    })


  </script>


  <script>



    (function () {
      jQuery('#theCarousel').carousel();

    }());

    (function () {
      jQuery('.carousel-showmanymoveone .item').each(function () {
        var itemToClone = jQuery(this);

        for (var i = 1; i < 3; i++) {
          itemToClone = itemToClone.next();

          // wrap around if at end of item collection
          if (!itemToClone.length) {
            itemToClone = jQuery(this).siblings(':first');
          }

          // grab item, clone, add marker class, add to collection
          itemToClone.children(':first-child').clone()
            .addClass("cloneditem-" + (i))
            .appendTo(jQuery(this));
        }
      });
    }());

    (function () {
      jQuery('.carousel-showmanymoveone').carousel({
        interval: false
      });
    }());




  </script>

  
<script>
  // Note: This example requires that you consent to location sharing when
  // prompted by your browser. If you see the error "The Geolocation service
  // failed.", it means you probably did not give permission for the browser to
  // locate you.
  var map, infoWindow;
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      center: {lat: -34.397, lng: 150.644},
      zoom: 6
    });
    infoWindow = new google.maps.InfoWindow;

    // Try HTML5 geolocation.
    if (navigator.geolocation) {
      navigator.geolocation.getCurrentPosition(function(position) {
        var pos = {
          lat: position.coords.latitude,
          lng: position.coords.longitude
        };

        infoWindow.setPosition(pos);
        infoWindow.setContent('Location found.');
        infoWindow.open(map);
        map.setCenter(pos);
      }, function() {
        handleLocationError(true, infoWindow, map.getCenter());
      });
    } else {
      // Browser doesn't support Geolocation
      handleLocationError(false, infoWindow, map.getCenter());
    }
  }

  function handleLocationError(browserHasGeolocation, infoWindow, pos) {
    infoWindow.setPosition(pos);
    infoWindow.setContent(browserHasGeolocation ?
                          'Error: The Geolocation service failed.' :
                          'Error: Your browser doesn\'t support geolocation.');
    infoWindow.open(map);
  }
</script>
<script defer src="https://www.googleapis.com/geolocation/v1/geolocate?key=AIzaSyDQix-Z4JpnVweJ975vtYgmyxj2RSJSfxI">
</script>