<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">



<meta name="p:domain_verify" content="facc8b8cd20898e52a2b8e767111d661"/>

<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>


    <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
    new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
    j=d.createElement(s),dl=l=='dataLayer'?'&l='+l:'';j.async=true;j.src=
    'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
    })(window,document,'script','dataLayer','GTM-KHL4WHL');</script>
    <!-- End Google Tag Manager -->

    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-140402344-1"></script>
    <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'UA-140402344-1');
    </script>
    <!--End -->

    <meta property="fb:pages" content="357112871580780" />

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title><%=result[0][0].name%>, <%=result[0][0].address2%>-Delo</title>
 
 <!--META SEO START-->
 <meta charset="UTF-8">
 <meta name="description" content="Delo Service Pvt Ltd is your one Stop Destination for all B2B & B2C Search Engine and Market Place."/>
 <meta name="keywords" content="ac repair services , ac service near me , ac mechanic, air conditioner , ac price ,   ac repair , ac service , best air conditioner , ac , accompany , ac repair near me "/>
 <meta name="google-site-verification" content="5TB0irTJKkDjgSE2r-gp9HOL-pksD8SF7rvpPlgn-_c" />  
 <meta name="google-site-verification" content="KUK42ZousazAe0Ye4J3GmWELjP9NL8ePB8fOSiUAjqE">
 <meta name="msvalidate.01" content="C80D427BDFDF46CFEB5C748950D62040" />
 <meta name="robots" content="all,follow" />
 <meta name="googlebot" content="index, follow" />

 <meta name="classification" content="Delo Services - One Destination For All Home,Beauty & spa Services" />

 <link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">
 <meta name="distribution" content="Global" />
 <meta name="author" content="http://www.deloservices.com" />
 <meta name="Language" content="English" />
 <meta name="rating" content="general" />
 <meta name="owner" content="DELO SERVICES PRIVATE LIMITED." />
 <meta http-equiv="refresh" content="300">
 <meta name="document-type" content="public" />
 <meta name="revisit-after" content="daily" />
 <meta name="country" content="India" />

 <meta name="DC.title" content="Delo Services - One Destination For All Home,Beauty & spa Services" />

 <meta property="fb:admins" content="357112871580780" />
 <meta property="og:title" content="Delo Services - One Destination For All Home,Beauty & spa Services" />
 <meta property="og:type" content="Delo Services - One Destination For All Home,Beauty & spa Services" />
 <meta property="og:url" content="https://www.deloservices.com" />
 <meta property="og:image" content="http://www.deloservices.comhttps://www.deloservices.com/images/logo.jpg" />
 <meta property="og:site_name" content="https://www.deloservices.com" />
 <meta property="og:description" content="Delo Services - One Destination For All Home,Beauty & spa Services" />
 <meta property="og:locale" content="en IN" />
<link rel="canonical" href="https://www.deloservices.com">
 <meta name="geo.region" content="IN-DL" />
 <meta name="geo.placename" content="New Delhi" />
 <meta name="geo.position" content="28.55629, 77.1732011" />
 <meta name="ICBM" content="28.55629, 77.1732011" />
<!-- Required meta tags -->

<link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

   
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.5.5/slick.min.css">
<link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">

    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />


      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>



    <style>
 
        img {
          width: 100%;
          height: auto;
          padding: 5px;
       }
       
        .slick-dots {
          text-align: center;
          margin: 0 0 10px 0;
          padding: 0;
       }
        .slick-dots li {
          display: inline-block;
          margin-left: 4px;
          margin-right: 4px;
       }
        .slick-dots li.slick-active button {
          background-color: #999;
       }
        .slick-dots li button {
          font: 0/0 a;
          text-shadow: none;
          color: transparent;
          background-color: #999;
          border: none;
          width: 15px;
          height: 15px;
          border-radius: 50%;
       }
        .slick-dots li :hover {
          background-color: #999;
       }
       /* Custom Arrow */
        .prev {
          color: #999;
          position: absolute;
          top: 38%;
          left: -2em;
          font-size: 1.5em;
       }
        .prev :hover {
          cursor: pointer;
          color: #999;
       }
        .next {
          color: #999;
          position: absolute;
          top: 38%;
          right: -2em;
          font-size: 1.5em;
       }
        .next :hover {
          cursor: pointer;
          color: black;
       }
        @media screen and (max-width: 800px) {
          .next {
            display: none !important;
         }
       }
       
       
           </style>







    <style>
        /* Icon set - http://ionicons.com/ */
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,800);
figure.snip1139 {
  font-family: 'Raleway', Arial, sans-serif;
  position: relative;
  overflow: hidden;
  margin: 10px;
 
  width: 100%;
  height:170px;
  color: #333;
  text-align: left;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
  border-radius: 8px;
}
figure.snip1139 * {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
  transition: all 0.35s cubic-bezier(0.25, 0.5, 0.5, 0.9);
}
figure.snip1139 img {
  max-width: 100%;
  vertical-align: middle;
}
figure.snip1139 blockquote {
  position: relative;
  background-color: #ffffff;
  padding: 25px 50px 25px 50px;
  font-size: 0.8em;
  font-weight: 500;
  text-align: left;
  margin: 0;
  line-height: 1.6em;
  font-style: italic;
}
figure.snip1139 blockquote:before,
figure.snip1139 blockquote:after {
  font-family: 'FontAwesome';
  content: "\201C";
  position: absolute;
  font-size: 50px;
  opacity: 0.3;
  font-style: normal;
}
figure.snip1139 blockquote:before {
  top: 25px;
  left: 20px;
}
figure.snip1139 blockquote:after {
  content: "\201D";
  right: 20px;
  bottom: 0;
}
figure.snip1139 .arrow {
  top: 100%;
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 25px solid transparent;
  border-top: 25px solid #ffffff;
  margin: 0;
  position: absolute;
}
figure.snip1139 .author {
  position: absolute;
  bottom: 0;
  width: 100%;
  padding: 5px 25px;
  color: #000000;
  background-color: #ffffff;
  margin: 0;
  text-transform: uppercase;
}
figure.snip1139 .author h5 {
  opacity: 0.8;
  margin: 0;
  font-weight: 800;
}
figure.snip1139 .author h5 span {
  font-weight: 400;
  text-transform: none;
  padding-left: 5px;
}



/* Demo purposes only */
html {
  height: 80%;
}


body {
 

  justify-content: center;
  align-items: center;
  flex-flow: wrap;
 
}

    </style>



<!---scroll bar style-->


<style>
 

  input::-webkit-input-placeholder {
    color:black !important;
    }
     
    input:-moz-input-placeholder { /* Firefox 18- */
    color: black !important;  
    }
     
    input::-moz-input-placeholder {  /* Firefox 19+ */
    color: black !important;  
    }
     
    input:-ms-input-placeholder {  
    color: black !important;  
    }
  </style>


<style>
  /* width */
  ::-webkit-scrollbar {
    width: 8px;
  }
 
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 6px;
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background:#1F5AB0;
    border-radius: 6px;
  }
 
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #1F5AB0;
  }
  </style>
<!--STYLE END SCROLL BAR-->



<style>
::placeholder {
  color: red;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: red;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: red;
}

.form-control{
  border-radius: 5px;
  height:35px;

}



</style>




<style type="text/css">
 
  .rating-box {
   display: inline-block;
}
 .rating-box .rating-container {
   direction: rtl !important;
}
 .rating-box .rating-container label {
   display: inline-block;
   margin: 15px 0;
   color: #d4d4d4;
   cursor: pointer;
   font-size: 50px;
   transition: color 0.2s;
}
 .rating-box .rating-container input {
   display: none;
}
 .rating-box .rating-container label:hover, .rating-box .rating-container label:hover ~ label, .rating-box .rating-container input:checked ~ label {
   color: gold;
}
 
</style>






    <style>
   
   ul li {
     list-style-type: none;
  }
   .slider--teams {
     position: relative;
     top: 50%;
     left: 50%;
     max-width: 1050px;
     opacity: 0;
     transform: translate(-50%, -50%);
  }
   .slider--teams .slider--teams__team {
     position: relative;
     overflow: hidden;
  }
   #list {
     position: relative;
     backface-visibility: hidden;
     transform: translate3d(0, 0, 0);
  }
   #list li {
     position: relative;
     display: inline-block;
     float: left;
     text-align: center;
  }
   #list li figure {
     cursor: pointer;
     margin: 1em;
     opacity: 0.5;
     backface-visibility: hidden;
     transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
     transform: scale(0.5) translateZ(0px);
  }
   #list li figure:hover {
     opacity: 0.8;
     transform: scale(0.6) translateZ(0px);
  }
   #list li figure:active {
     opacity: 1;
     transform: scale(0.7) translateZ(0px);
  }
   #list li figure > div {
     border-radius: 5px;
     position: relative;
     margin: 2rem auto;
     width: 120px;
     height: 120px;
     overflow: hidden;
     transform: rotate(45deg) translateZ(0px);
  }
   #list li figure > div > div {
   
     background-size: cover;
     background-position: 0px 0px;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 170px;
     height: 170px;
     transform: rotate(-45deg) translate(0%, -70%);
  }
   #list li figure figcaption h2 {
     color: white;
     font-size: 1.6rem;
     font-weight: 800;
  }
   #list li figure figcaption p {
     color: #666;
     font-size: 0.9rem;
     font-weight: 400;
  }
   #list li:nth-child(1) figure > div > div {
     background-position: 0px 0px !important;
  }
   #list li:nth-child(2) figure > div > div {
     background-position: 0px 20% !important;
  }
   #list li:nth-child(3) figure > div > div {
     background-position: 0px 40% !important;
  }
   #list li:nth-child(4) figure > div > div {
     background-position: 0px 60% !important;
  }
   #list li:nth-child(5) figure > div > div {
     background-position: 0px 80% !important;
  }
   #list li:nth-child(6) figure > div > div {
     background-position: 0px 100% !important;
  }
   .active {
     opacity: 1 !important;
     transform: scale(1) translateZ(0px) !important;
  }
   .cf:before, .cf:after {
     content: " ";
     display: table;
  }
   .cf:after {
     clear: both;
  }
   .cf {
     *zoom: 1;
  }
  a:hover {cursor: pointer;}
   
      </style>


<style type="text/css">
   .form-control{
       border-radius : 5px;
   }

a:hover {cursor: pointer;}

input {
  width: 250px;
  height: 30px;
 
  border: 1px solid #DDE1E4;
}


 input[type="search"] {
   -webkit-appearance: none !important;
   background-clip: padding-box;
   background-color: white;
   vertical-align: middle;
   border-radius: 0.25rem;
   border: 1px solid #e0e0e5;
   font-size: 1rem;
   width: 200px;
   height:1px;
   line-height: 2;
   padding: 0.375rem 1.25rem;
   -webkit-transition: border-color 0.2s;
   -moz-transition: border-color 0.2s;
   transition: border-color 0.2s;
}
 input[type="search"]:focus {
   transition: all 0.5s;
   box-shadow: 0 0 40px #f9d442 b9;
   border-color: #f9d342;
   outline: none;
}
 form.search-form {
   display: flex;
   justify-content: center;
}
 label {
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   align-self: center;
   margin-bottom: 0;
}
 input.search-field {
   margin-bottom: 0;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   align-self: center;
   height: 30px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
 input.search-submit {
   height: 33px;
   width:70px;
   margin: 0;
   /* padding: 1rem 1.3rem; */
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   font-family: "Font Awesome 5 Free";
   font-size: 1rem;
}
 .screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}
 .button {
   display: inline-block;
   font-weight: 600;
   font-size: 0.8rem;
   line-height: 1.15;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   background: #f9d342;
   color: #292826;
   border: 1px solid transparent;
   vertical-align: middle;
   text-shadow: none;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   transition: all 0.2s;
}
 .button:hover, .button:active, .button:focus {
   cursor: pointer;
   background: #d4b743;
   color: #292826;
   outline: 0;
}

 
</style>


   
  </head>
  <body style="color: black">
     

   <!-- Google Tag Manager (noscript) -->
   <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KHL4WHL"
   height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
   <!-- End Google Tag Manager (noscript) -->

 


    <!-- Header Area wrapper Starts -->
    <header id="header-wrap"   style="background-color: white;">
         

      <!-- Navbar Start -->
      <nav class="navbar navbar-expand-lg bg-inverse   navbar-light nav1" style="background-color: white;">
        <div class="container">
          <div class="theme-header clearfix">
           <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header">
               
                <a href="/" class="navbar-brand"><img src="https://www.deloservices.com/images/delomainlogo.png" alt="deloservices" > </a>
             
              </div>
              <div class=" navbar-collapse">
                <ul class="navbar-nav mr-auto w-100 justify-content-left">

                  <li class="nav-item dropdown"  style="margin-top: 15px;color:black" >
                    <a class="nav-link " href="/" aria-expanded="false">
                      Home
                    </a>
                   
                  </li>



                    <li class="nav-item dropdown"  style="margin-top: 15px;color:black" >
                      <a class="nav-link " data-toggle="modal" data-target="#myModal" style="cursor: pointer;"  aria-expanded="false">
                       Login / sign up
                      </a>
                     
                    </li>
                 


  <li class="nav-item dropdown"  style="margin-top: 34px;">
                        <div class="wrapper">
                            <div class="container">
                             <form role="search"method="POST" class="search-form form" action="/searchhai">
                      <label>
                        <span class="screen-reader-text">Search for...</span>
                        <input list=text_editors type="text" name="search"  class="search-field"
                          placeholder="Search anything..."
                          title="Search for anything..." style="height:33px;" />
                        <datalist id="text_editors">
                          <select multiple size=8>
                            <% for(i=0;i<result[4].length;i++){ %>
                            <option value="<%=result[4][i].name%>"><%=result[4][i].name%></option>
                            <% } %>

                          </select>
                        </datalist>

                      </label>



                      <!-- <input list=text_editors type="text"  name="seo_name" class="form-control" placeholder = "Search For Anything" style="color:#888888" > -->


<input type="hidden" name="city" value="Delhi ">

                      <input type="submit" class="search-submit button" value="&#xf002;" />
                    </form>
                            </div>
                          </div>
                             
                      </li>
                 


                  <li class="postadd" style="margin-top: 35px;">
                    <a class="btn btn-primary btn-post" href="/advertise">Post Free Ad</a>
                  </li>

                  <li class="nav-item dropdown" style="margin-top: 15px;color:black">
                    <a style="color:#1f5ab0" class="nav-link" href="/download"  aria-expanded="false"><span ><img src="/assets/img/d_icon.png" style=" height:30px; width:35px; margin-right:-5px;"></span>  Download App</a>
   
                  </li>



                </ul>
               
              </div>
            </div>
          </div>
  <div class="mobile-menu" data-logo="https://www.deloservices.com/images/delomainlogo.png"></div>
       
</nav>

</header>
<!-- Header Area wrapper End -->

<!-- Page Header Start -->
<div class="page-header" style="background: url(/images/<%=result[0][0].banner_image%>);width: 100%;background-repeat: no-repeat;background-size: cover;height: 325px;">
  <div class="container">
    <div class="row">        
      <div class="col-md-12">
       
      </div>
    </div>
  </div>
</div>




<!-- Whatsapp Modal -->
<div class="modal fade bd-example-modal-sm" id="whatsapp" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Enter your number </h4>
      </div>
     <div class="modal-body">
     
       <br><br>
   
         
         
          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12" >
              <input type="text" id="whatsapp_name" required class="form-control number"  placeholder="Enter Name">
            </div>
          </div>
         
           <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="number" id="whatsapp_number" required class="form-control number"  placeholder="Enter Mobile Number">
            </div>
          </div>
            <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="email" id="whatsapp_email" class="form-control number" placeholder="Enter Email (Optional)">
            </div>
          </div>
         
          <div class="form-group row">
            <div class="col-sm-12">
                  <button type="button" data-toggle="modal" data-target="#whatsapp_otp_modal" class="btn btn-primary claim btn-block float-right whatsapp" number="<%=result[0][0].number%>">Send</button>
            </div>
          </div>
       

      </div>
     
   
  </div>
</div>
</div>


<!-- #whatsapp_otp_modal -->
<div class="modal fade bd-example-modal-sm" id="whatsapp_otp_modal" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Enter OTP (One Time Password)</h4>
      </div>
      <div class="modal-body">
     
       <br><br>
       
         
         
          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="tel" id="whatsapp_otp" name="whatsapp_otp" required class="form-control number" id="inputPassword3" placeholder="Enter OTP">
            </div>
          </div>
         
         
          <div class="form-group row">
            <div class="col-sm-12" style="height: 130px;">
              <button type="button" class="btn btn-primary claim btn-block float-right whatsapp_otp" number="<%=result[0][0].number%>">Submit</button>
              <a  class="float-right resend" style="color:blue">Resend OTP </a>
            </div>
          </div>
        </form>
     
      </div>
   
   
  </div>
</div>
</div>



<!--  // Claim Modal -->

<div class="modal fade bd-example-modal-sm" id="myModal" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Enter your number to edit listing</h4>
      </div>
      <div class="modal-body">
     
       <br><br>
        <form action="/free-listing/claim_now" method="post" >
         
         
          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="number" name="number" required class="form-control number" id="inputPassword3" placeholder="Enter Mobile Number" value="<%=result[0][0].number%>" readonly>
            </div>
          </div>
         
       
         
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary claim btn-block float-right">Edit Listing</button>
            </div>
          </div>
       
     
</form>

      </div>
   
   
  </div>
</div>
</div>



<!--  // Manage Camoign Modal -->

<div class="modal fade bd-example-modal-sm" id="review" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Write a review</h4>
      </div>
      <div class="modal-body">
     
       <br><br>
        <form action="/free-listing/manageCampign" method="post" >
         
         

          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="text" name="rating_name"  class="form-control rating_name" id="inputPassword3" placeholder="Enter Name">
            </div>
          </div>


          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="number" name="rating_number"  class="form-control rating_number" id="inputPassword3" placeholder="Enter Mobile Number" >
            </div>
          </div>


           <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <textarea name="review"  class="form-control rating_review" id="inputPassword3" placeholder="Enter Review" style="height:45px;" ></textarea>
            </div>
          </div>
         

          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
             <div class="rating-box">
  <div class="rating-container">
  <input type="radio" class="rating" name="rating" value="5"   id="star-5"> <label for="star-5">&#9733;</label>
 
  <input type="radio" class="rating" name="rating" value="4"  id="star-4"> <label for="star-4">&#9733;</label>
 
  <input type="radio" class="rating" name="rating" value="3"   id="star-3"> <label for="star-3">&#9733;</label>
 
  <input type="radio" class="rating" name="rating" value="2"   id="star-2"> <label for="star-2">&#9733;</label>
 
  <input type="radio" class="rating" name="rating" value="1"   id="star-1"> <label for="star-1">&#9733;</label>
</div>
</div>
            </div>
          </div>
       
         
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="button" data-toggle="modal" data-target="#rating_otp_modal" class="btn btn-primary submit_rating btn-block float-right" id="<%=result[0][0].id%>">Submit</button>
            </div>
          </div>
       
     
</form>

      </div>
     
  </div>
</div>
</div>


<!-- #rating_otp_modal -->
<div class="modal fade bd-example-modal-sm" id="rating_otp_modal" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Enter OTP (One Time Password)</h4>

      </div>
      <div class="modal-body">
     
       <br><br>
       
         
         
          <div class="form-group row" >
         <div class="col-sm-12 col-md-12 col-lg-12"  style="height: 200px;">
              <input type="number" id="rating_otp" name="whatsapp_otp" required class="form-control number" id="inputPassword3" placeholder="Enter OTP">
            </div>
          </div>
         
         
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="button" class="btn btn-primary  btn-block float-right rating_otp" number="<%=result[0][0].number%>" id="<%=result[0][0].id%>">Submit</button>
              <a  class="float-right resend" style="color:blue">Resend OTP </a>
            </div>
          </div>
        </form>
     


      </div>
     
   
  </div>
</div>
</div>


<!-- // Sms Modal -->


<div class="modal fade bd-example-modal-sm" id="sms" role="dialog">
  <div class="modal-dialog modal-sm">
 
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header" style="background-color: black;">
         <!--  <button type="button" class="btn btn-default float-right" style="float:right;" data-dismiss="modal">&times;</button> -->
<h4 style="color: white;font-size:14px;">Get Information By SMS / Email / Whatsapp</h4>
      </div>
      <div class="modal-body">
     
       <br><br>
   
         
         
          <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="text" id="name" required class="form-control number"  placeholder="Enter Name">
            </div>
          </div>
         
           <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="tel" id="number" required class="form-control number"  placeholder="Enter Mobile Number">
            </div>
          </div>
            <div class="form-group row">
         <div class="col-sm-12 col-md-12 col-lg-12">
              <input type="email" id="email" class="form-control number" placeholder="Enter Email (Optional)">
            </div>
          </div>
         
          <div class="form-group row">
            <div class="col-sm-12">
              <button type="submit" class="btn btn-primary claim btn-block float-right send_information" number="<%=result[0][0].number%>">Send</button>
            </div>
          </div>
       
     


      </div>
     
   
  </div>
</div>
</div>



<!-- Page Header End -->  

<!-- Start Content -->
<div id="content" class="section-padding">


<div class="container">
  <div class="row">
     <div class="col-sm-12 col-md-12 col-lg-12 page-sidebar">
        <aside>
          <div class="sidebar-box">
           
           
            <nav class="navdashboard" style="margin-top:0px;height: 65px;">
              <ol>
                <li>
               
  <div class="container-fluid">
    <div class="row">        
      <div class="col-md-12">
        <div class="breadcrumb-wrapper">
         
          <ol class="breadcrumb" style="background-color: white;margin-top: 5px;">
           
          <li style="color:black;margin-left: 50px;">

<%=result[0][0].name%>
             &nbsp;&nbsp;&nbsp;            </li>

<li>



<% if(result[3][0].avg_rating <= "1"){ %>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>  
<% } else if(result[3][0].avg_rating <= "2") { %>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>  
                          <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[3][0].avg_rating <= "3") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[3][0].avg_rating <= "4") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
    <i class="lni lni-star-filled" style="color:goldenrod"></i>
     <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[3][0].avg_rating <= "5") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
    <i class="lni lni-star-filled" style="color:goldenrod"></i>
     <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } %>
</li>
           
         
            <li class="#" style="color:white">
              <button type='button' data-toggle="modal" data-target="#myModal" style="background-color:transparent;color:black;margin-top:-9px;" class="btn">
                <img src="/assets/img/medal.png" style="width:30px"/>Edit Listing / Promote your business </button>  &nbsp;&nbsp;&nbsp;
                  </li>

                   <li class="#" style="color:white">
              <button type='button' data-toggle="modal" data-target="#review" style="background-color:transparent;color:black;margin-top:-9px;" class="btn">
                <img src="/assets/img/medal.png" style="width:30px"/>Write For A Review</button>  &nbsp;&nbsp;&nbsp;
                  </li>
         
       <!--      <li class="#" style="color:white"><button type='button' data-toggle="modal" data-target="review" style="background-color:transparent;color:orange;margin-top:-5px;" class="btn">Write for a review </button></li> -->
            <li class="#" style="color:transparent;float:right">
   <button type='button' data-toggle="modal" data-target="#sms" style="background-color:transparent;color:orange;margin-top:-9px;" class="btn">
             
    <p style="color:black;float:right">Enquiry Now</p>
              </button> &nbsp;&nbsp;&nbsp;
            </li>
            <!-- <li class="#" style="color:transparent;float:right">
              <button type='button' data-toggle="modal" data-target="#whatsapp" style="background-color:transparent;color:orange;margin-top:-9px;" class="btn">
                <img src="/assets/img/whatsapp.png" style="width:40px;margin-top:-9px;"/>
              </button>&nbsp;&nbsp;&nbsp;
            </li> -->
             <!-- <li class="float-right" style="color:transparent;float:right"><a href="https://www.google.co.uk/maps?q=<%=result[0][0].address1%>,<%=result[0][0].address2%>" class="float" target="_blank"><img src="https://img.icons8.com/doodle/50/000000/map-marker.png" style="width:40px;margin-top:-9px;"/></a></li>
           -->
          </ol>
        </div>
      </div>
    </div>
  </div>

                </li>
               
         
               
              </ol>
            </nav>
          </div>
       
        </aside>
      </div>
  </div>
</div>



  <div class="container">
    <div class="row">
       
      <div class="col-sm-12 col-md-4 col-lg-3 page-sidebar">
        <aside>
          <div class="sidebar-box">
            <div class="user" style="height:150px;">
              <figure>
                <a href="#"><img src="/images/<%=result[0][0].image1%>" alt="" style="width:150px;height: 125px;"></a>
              </figure>
              <div class="usercontent">
                <h3 style="margin-bottom:15px; margin-top:5px; color:black "><%=result[0][0].name%></h3>
                <h4 style="margin-bottom:10px; color:grey"><%=result[0][0].address1%>,<%=result[0][0].address2%></h4>
              </div>
            </div>
           
            <nav class="navdashboard" style="margin-top:120px;">
              <ul>
                <li>
                  <a href="#">
                    <i class="lni-dashboard"></i>
                    <span>Active</span>
                  </a>
                </li>
             
                <li>
                  <a href="#">
                    <i class="lni-cog"></i>
                    <span>+91 <%=result[0][0].number%></span>
                  </a>
                </li>
                <li>
                    <a href="#">
                      <i class="lni-cog"></i>
                      <span>Establishment Year : <%=result[0][0].establishment_year%></span>
                    </a>
                  </li>

         
               
              </ul>
            </nav>
          </div>
          <div class="widget">
           
            <div class="add-box" style="height:290px">
                <div class="ads-details-wrapper">
                    <div id="owl-demo" class="owl-carousel owl-theme" style="height:250px">
                      <div class="item">
                        <div class="product-img">
                          <img class="img-fluid" src="/images/<%=result[0][0].image1%>" alt="">
                        </div>
                       
                      </div>
                      <div class="item">
                        <div class="product-img">
                          <img class="img-fluid" src="/images/<%=result[0][0].image2%>" alt="">
                        </div>
                       
                      </div>
                      <div class="item">
                        <div class="product-img">
                          <img class="img-fluid" src="/images/<%=result[0][0].image3%>" alt="">
                        </div>
                       
                      </div>
                    </div>
                  </div>
     
            </div>
          </div>


 <div class="widget">
           
            <div class="add-box" style="height:320px">
                <div class="ads-details-wrapper">
                   
                      <img src="/assets/img/img1.jpg">
             
                  </div>
     
            </div>
          </div>

           
        </aside>
      </div>

      <div class="col-sm-12 col-md-8 col-lg-9">
        <div class="row page-content">
            <div class="col-sm-12 col-md-4 col-lg-7 page-sidebar">
                <aside>
                  <div class="sidebar-box" style="height: 1250px;">
                    <div class="user" style="background-color: white;">
                      <div class="usercontent" style="background-color: white;">
                        <h3 style="float:left;color:black">About Company</h3><br>
                       
                      </div>
                    </div>
                    <nav class="navdashboard">
                      <ul>

<h5 style="font-size:14px; font-family: 'Lato', sans-serif;color:#888888;margin-left: 5px;margin-right: 5px;text-align: left;line-height: 22px;"><%=result[0][0].description%></h5>


                        <li>
                              <span style="margin-left:30px;color:black">Also Lisitng in </span><br>

                          <a href="#">
                           
                            <% for(i=0;i<result[1].length;i++){ %>
                           
                            <span><i class="lni-check-mark-circle"></i><%=result[1][i].also_listing%></span><br>
                           
                          <% } %>
                          </a>
                        </li>
                     
                        <li>
                            <a href="#">
                             
                              <span style="margin-left:30px;color:black">Payment Methods </span><br>

<% if(result[0][0].cash==null || result[0][0].cash=="null" || result[0][0].cash == "" ||result[0][0].cash == []){ %>
<% } else {  %>
 <span><i class="lni-check-mark-circle"></i><%=result[0][0].cash%></span>&nbsp;<br>
 <% } %>

<% if(result[0][0].master_card==null || result[0][0].master_card=="null" || result[0][0].master_card == "" ||result[0][0].master_card == []){ %>
  <% } else {  %>
 <span><i class="lni-check-mark-circle"></i><%=result[0][0].master_card%></span>&nbsp;<br>
<% } %>

<% if(result[0][0].visa_card == null || result[0][0].visa_card=="null" || result[0][0].visa_card == "" ||result[0][0].visa_card == []){ %>
  <% } else{ %>
   <span><i class="lni-check-mark-circle"></i><%=result[0][0].visa_card%></span>&nbsp;<br>
<% } %>
 

 <%if(result[0][0].debit_card==null || result[0][0].debit_card=="null" || result[0][0].debit_card == "" ||result[0][0].debit_card == []){ %>
   
<% } else{ %>
  <span><i class="lni-check-mark-circle"></i><%=result[0][0].debit_card%></span>&nbsp;<br>
<% } %>                            
 


 <%if(result[0][0].cheques==null || result[0][0].cheques=="null" || result[0][0].cheques == "" ||result[0][0].cheques == []){%>
 
<% } else{ %>
   <span><i class="lni-check-mark-circle"></i><%=result[0][0].cheques%></span>&nbsp;<br>
<% } %>                          
   
  <%  if(result[0][0].credit_card==null || result[0][0].credit_card=="null" || result[0][0].credit_card == "" ||result[0][0].credit_card == []){ %>
 
<% } else { %>
   <span><i class="lni-check-mark-circle"></i><%=result[0][0].credit_card%></span>&nbsp;<br>
<% } %>                        
 

   <%   if(result[0][0].american_xpress_card==null || result[0][0].american_xpress_card=="null" || result[0][0].american_xpress_card == "" ||result[0][0].american_xpress_card == []){ %>
 
<% } else{ %>
   <span><i class="lni-check-mark-circle"></i><%=result[0][0].american_xpress_card%></span>&nbsp;<br>
<% }  %>                          
                           
                               

                              </a>
                          </li>
                       
                       
                      </ul>
                    </nav>
                  </div>
                 <div class="widget">
             
          </div>
                </aside>
              </div>
          <div class="col-sm-12 col-md-4 col-lg-5 page-sidebar">
            <aside>
              <div class="sidebar-box">
                <div class="user" style="background-color: white;">
                  <div class="usercontent" style="background-color: white;">
                    <h3 style="float:left;color:red">Open Now</h3><br>
                    <h4 style="float:left;color: #666666;">Listing Timezone : India</h4><br>
                  </div>
                </div>
                <nav class="navdashboard">
                  <ul>
                   <% if(msg == "1"){ %>


                    <li>
                      <a href="#">
                      <span style="margin-left:30px;color: green">Monday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>
 
<% } else if(msg == "2"){ %>

 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Tuesday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>


<% } else if(msg == "3"){ %>

 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                      <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Wednesday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>

<% } else if(msg == "4"){ %>

 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                      <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Thrusday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>

<% } else if(msg == "5"){ %>


 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                    <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Friday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>


<% } else if(msg == "6"){ %>





 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                    <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Saturday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Sunday : <span style="float:right;margin-right:20px;"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>


<% } else { %>


 <li>
                      <a href="#">
                      <span style="margin-left:30px;">Monday : <span style="float:right;margin-right:20px;"><%=result[0][0].monday%></span></span>
                      </a>
                    </li>
                     <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Tuesday : <span style="float:right;margin-right:20px;"><%=result[0][0].tuesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Wednesday : <span style="float:right;margin-right:20px;"><%=result[0][0].wednesday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Thrusday : <span style="float:right;margin-right:20px;"><%=result[0][0].thrusday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Friday : <span style="float:right;margin-right:20px;"><%=result[0][0].friday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;">Saturday : <span style="float:right;margin-right:20px;"><%=result[0][0].saturday%></span></span>
                        </a>
                      </li>
                      <li>
                        <a href="#">
                         
                          <span style="margin-left:30px;color: green">Sunday : <span style="float:right;margin-right:20px;color: green"><%=result[0][0].sunday%></span></span>
                        </a>
                      </li>


<% } %>
                   
                   
                  </ul>
                </nav>
              </div>
             
 <div class="widget">
           
            <div class="add-box" style="height:420px">
                <div class="ads-details-wrapper">
                   
                      <img src="/assets/img/img1.jpg">
             
                  </div>
     
            </div>
          </div>


 <div class="widget">
           
            <div class="add-box" style="height:320px">
                <div class="ads-details-wrapper">
                   
                      <img src="/assets/img/img1.jpg" style="height: 280px;">
             
                  </div>
     
            </div>
          </div>

            </aside>
          </div>
        </div>
      </div>
    </div>  
  </div>      
</div>




<div id="content" class="section-padding">
    <div class="container">
      <div class="row">
     

       <!-- Testimonial Section Start -->
    <section class="testimonial section-padding">
      <div class="container">
        <div class="row">
          <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div id="testimonials" class="owl-carousel">
             
<!--


             
 -->                  



<% for(i=0;i<result[2].length;i++){%>
              <div class="item">
                <div class="img-thumb">
                  <img src="assets/img/blog/user1.jpg" alt="">
                 
                </div>
                <div class="testimonial-item" style="height: auto;">
                  <div class="content">
                   
                    <p class="description"><%=result[2][i].review%></p>
                    <div class="info-text">
                      <h2><%=result[2][i].name%></h2>
                      <h4> <span class="comment-date">


<% if(result[2][i].rating == "1"){ %>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>  
<% } else if(result[2][i].rating == "2") { %>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>  
                          <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[2][i].rating == "3") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[2][i].rating == "4") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
    <i class="lni lni-star-filled" style="color:goldenrod"></i>
     <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } else if(result[2][i].rating == "5") { %>
 <i class="lni lni-star-filled" style="color:goldenrod"></i>
  <i class="lni lni-star-filled" style="color:goldenrod"></i>
   <i class="lni lni-star-filled" style="color:goldenrod"></i>
    <i class="lni lni-star-filled" style="color:goldenrod"></i>
     <i class="lni lni-star-filled" style="color:goldenrod"></i>
<% } %>

 

                          </span></h4>
                    </div>
                  </div>
                </div>
              </div>
             
    <% } %>


            </div>
          </div>
        </div>
      </div>
    </section>
    <!-- Testimonial Section End -->

 
       
      </div>  
    </div>      
  </div>


    <!-- End Content -->
    <br><br>

    <!-- Subscribe Section End -->
    <% include ./indexfooter.ejs %>

<script type="text/javascript">
  $('.send_information').click(function(){
 
if($('#name').val()==[] || $('#name').val()=='' || $('#name').val()=="null" || $('#name').val()==null ) alert('Please Enter Your Name...')
else if($('#number').val()==[] || $('#number').val()=='' || $('#number').val()=="null" || $('#number').val()==null ) alert('Please Enter Your Mobile Number...')
else{
  const partner_number = $(this).attr('number')
  let insertobj = {
    name :$('#name').val(),
    number:$('#number').val(),
      pincode:$('.pincode').val(),
  address:$('.address').val(),
    partner_number: partner_number
   }

console.log('insert data',insertobj);

$.post('/free-listing/send/sms',insertobj,data=>{
if(data=="success"){
 alert('Your Enquiry is submitted successfully...Our Partner will conatct you as soon as possible')


// $.post('http://api.msg91.com/api/v5/email',{authKey:'',tempelate_id:'',to:'',from:'',})


}
})

}

})














 $('.whatsapp').click(function(){
 
if($('#whatsapp_name').val()==[] || $('#whatsapp_name').val()=='' || $('#whatsapp_name').val()=="null" || $('#whatsapp_name').val()==null ) alert('Please Enter Your Name...')
else if($('#whatsapp_number').val()==[] || $('#whatsapp_number').val()=='' || $('#whatsapp_number').val()=="null" || $('#whatsapp_number').val()==null ) alert('Please Enter Your Mobile Number...')
else{
  const partner_number = $(this).attr('number')
  let insertobj = {
    name :$('#whatsapp_name').val(),
    number:$('#whatsapp_number').val(),
    partner_number: partner_number
   }

console.log('insert data',insertobj);

$.post('/free-listing/send_otp',insertobj,data=>{
if(data=="success"){
  // alert('Contact number will be send your mobile number...');
// $.post('http://api.msg91.com/api/v5/email',{authKey:'',tempelate_id:'',to:'',from:'',})
}
})
}
})




 $('.whatsapp_otp').click(function(){
 
if($('#whatsapp_otp').val()==[] || $('#whatsapp_otp').val()=='' || $('#whatsapp_otp').val()=="null" || $('#whatsapp_otp').val()==null ) alert('Please Enter OTP...')

else{
 const partner_number = $(this).attr('number')
 
  let insertobj = {
    otp :$('#whatsapp_otp').val(),
      }

console.log('insert data',insertobj);

$.post('/free-listing/whatsapp_otp_verification',insertobj,data=>{
if(data=="already users"){
  window.location.href=`https://api.whatsapp.com/send?phone=${partner_number}`
}
else if(data=="new users"){

 window.location.href=`https://api.whatsapp.com/send?phone=${partner_number}`
}
else{
  alert("Invalid OTP")
}

})
}
})






$('.submit_rating').click(function(){
  if($('.rating_name').val()==[] || $('.rating_name').val() == null || $('.rating_name').val()=="null" || $('.rating_name').val()=="" ) alert("Enter Your Name...")
    else  if($('.rating_number').val()==[] || $('.rating_number').val() == null || $('.rating_number').val()=="null" || $('.rating_number').val()=="" ) alert("Enter Your Mobile Number...")
   else  if($('.rating_review').val()==[] || $('.rating_review').val() == null || $('.rating_review').val()=="null" || $('.rating_review').val()=="" ) alert("Enter Review...")  
   else  if($('.rating').val()==[] || $('.rating').val() == null || $('.rating').val()=="null" || $('.rating').val()=="" ) alert("Please Give Rating...")
   else{
    const id = $(this).attr('id');
    const name = $('.rating_name').val()
    const review = $('.rating_review').val()
    const rating = $("input[name='rating']:checked").val();
    const number = $('.rating_number').val()




    $.post('/free-listing/rating_send_otp',{name,number,review,rating,id},data=>{

    })
   }    

})





 $('.rating_otp').click(function(){
 
if($('#rating_otp').val()==[] || $('#rating_otp').val()=='' || $('#rating_otp').val()=="null" || $('#rating_otp').val()==null ) alert('Please Enter OTP...')

else{
 const userid = $(this).attr('id')
  let insertobj = {
    otp :$('#rating_otp').val(),
      }

console.log('insert data',insertobj);

$.post('/free-listing/otp_verification',insertobj,data=>{
if(data=="already users"){
 $.post('/free-listing/insert_rating',{userid},data=>{
  alert('Your review is submit successfully')
   window.location.reload();
 })
}
else if(data=="new users"){
 $.post('/free-listing/insert_rating',{userid},data=>{
  alert('Your review is submit successfully')
   window.location.reload();
 })
}
else{
  alert("Invalid OTP")
}

})
}
})




</script>