<!DOCTYPE html>
<html lang="en">
  <head>
      <script>
          !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
          analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
          analytics.page();
          }}();
        </script>



<!-- Global site tag (gtag.js) - Google Ads: 741046957 -->
<script async src="https://www.googletagmanager.com/gtag/js?id=AW-741046957"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'AW-741046957');
</script>

    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Delo Mart - Subcategory</title>
    <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="/assets/fonts/line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="/assets/css/slicknav.css">
    <meta name="description" content="ghdgjhg"/>
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="/assets/css/animate.css">
    <!-- Owl carousel -->
    <link rel="stylesheet" type="text/css" href="/assets/css/owl.carousel.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/main.css">


    <meta name="keywords" content="ddh">


    <meta name="google-site-verification" content="5TB0irTJKkDjgSE2r-gp9HOL-pksD8SF7rvpPlgn-_c" />  
    <meta name="msvalidate.01" content="C80D427BDFDF46CFEB5C748950D62040" />
    <meta name="robots" content="all,follow" />
    <meta name="googlebot" content="index, follow" />
   
    <meta name="classification" content="jhj" />
   
    <link rel="shortcut icon" type="images/x-icon" href="https://www.deloservices.com/images/delofabicon.png">
    <meta name="distribution" content="Global" />
    <meta name="author" content="http://www.deloservices.com" />
    <meta name="Language" content="English" />
    <meta name="rating" content="general" />
    <meta name="owner" content="DELO SERVICES PRIVATE LIMITED." />
    <meta http-equiv="refresh" content="300">
    <meta name="document-type" content="public" />
    <meta name="revisit-after" content="daily" />
    <meta name="country" content="India" />
   
    <meta name="DC.title" content="fggh" />
   
    <meta property="fb:admins" content="357112871580780" />
    <meta property="og:title" content="hfg" />
    <meta property="og:type" content="hfg" />
    <meta property="og:url" content="https://www.deloservices.com" />
    <meta property="og:image" content="http://www.deloservices.comhttps://www.deloservices.com/images/logo.jpg" />
    <meta property="og:site_name" content="https://www.deloservices.com" />
    <meta property="og:description" content="hfg" />
    <meta property="og:locale" content="en IN" />
  <meta name="geo.region" content="IN-DL" />
    <meta name="geo.placename" content="New Delhi" />
    <meta name="geo.position" content="28.55629, 77.1732011" />
    <meta name="ICBM" content="28.55629, 77.1732011" />

    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="/assets/css/responsive.css">
    <link rel="canonical" href="https://www.deloservices.com/service/fhgf">
    <style>
      /* width */
      ::-webkit-scrollbar {
        width: 8px;
      }
      
      /* Track */
      ::-webkit-scrollbar-track {
        box-shadow: inset 0 0 5px grey; 
        border-radius: 6px;
      }
       
      /* Handle */
      ::-webkit-scrollbar-thumb {
        background:#1F5AB0; 
        border-radius: 6px;
      }
      
      /* Handle on hover */
      ::-webkit-scrollbar-thumb:hover {
        background: #1F5AB0; 
      }
      </style>
    <!--STYLE END SCROLL BAR-->
    <style>
    
   ul li {
     list-style-type: none;
  }
   .slider--teams {
     position: relative;
     top: 50%;
     left: 50%;
     max-width: 1050px;
     opacity: 0;
     transform: translate(-50%, -50%);
  }
   .slider--teams .slider--teams__team {
     position: relative;
     overflow: hidden;
  }
   #list {
     position: relative;
     backface-visibility: hidden;
     transform: translate3d(0, 0, 0);
  }
   #list li {
     position: relative;
     display: inline-block;
     float: left;
     text-align: center;
  }
   #list li figure {
     cursor: pointer;
     margin: 1em;
     opacity: 0.5;
     backface-visibility: hidden;
     transition: transform 450ms cubic-bezier(0.445, 0.05, 0.55, 0.95), opacity 450ms ease-in-out;
     transform: scale(0.5) translateZ(0px);
  }
   #list li figure:hover {
     opacity: 0.8;
     transform: scale(0.6) translateZ(0px);
  }
   #list li figure:active {
     opacity: 1;
     transform: scale(0.7) translateZ(0px);
  }
   #list li figure > div {
     border-radius: 5px;
     position: relative;
     margin: 2rem auto;
     width: 120px;
     height: 120px;
     overflow: hidden;
     transform: rotate(45deg) translateZ(0px);
  }
   #list li figure > div > div {
   
     background-size: cover;
     background-position: 0px 0px;
     position: absolute;
     top: 50%;
     left: 50%;
     width: 170px;
     height: 170px;
     transform: rotate(-45deg) translate(0%, -70%);
  }
   #list li figure figcaption h2 {
     color: white;
     font-size: 1.6rem;
     font-weight: 800;
  }
   #list li figure figcaption p {
     color: #666;
     font-size: 0.9rem;
     font-weight: 400;
  }
   #list li:nth-child(1) figure > div > div {
     background-position: 0px 0px !important;
  }
   #list li:nth-child(2) figure > div > div {
     background-position: 0px 20% !important;
  }
   #list li:nth-child(3) figure > div > div {
     background-position: 0px 40% !important;
  }
   #list li:nth-child(4) figure > div > div {
     background-position: 0px 60% !important;
  }
   #list li:nth-child(5) figure > div > div {
     background-position: 0px 80% !important;
  }
   #list li:nth-child(6) figure > div > div {
     background-position: 0px 100% !important;
  }
   .active {
     opacity: 1 !important;
     transform: scale(1) translateZ(0px) !important;
  }
   .cf:before, .cf:after {
     content: " ";
     display: table;
  }
   .cf:after {
     clear: both;
  }
   .cf {
     *zoom: 1;
  }
  a:hover {cursor: pointer;}
   
      </style>



<style type="text/css">
   .form-control{
       border-radius : 5px;
   }

a:hover {cursor: pointer;}

input {
  width: 250px;
  height: 30px;
  
  border: 1px solid #DDE1E4;
}


 input[type="search"] {
   -webkit-appearance: none !important;
   background-clip: padding-box;
   background-color: white;
   vertical-align: middle;
   border-radius: 0.25rem;
   border: 1px solid #e0e0e5;
   font-size: 1rem;
   width: 200px;
   height:1px;
   line-height: 2;
   padding: 0.375rem 1.25rem;
   -webkit-transition: border-color 0.2s;
   -moz-transition: border-color 0.2s;
   transition: border-color 0.2s;
}
 input[type="search"]:focus {
   transition: all 0.5s;
   box-shadow: 0 0 40px #f9d442 b9;
   border-color: #f9d342;
   outline: none;
}
 form.search-form {
   display: flex;
   justify-content: center;
}
 label {
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   align-self: center;
   margin-bottom: 0;
}
 input.search-field {
   margin-bottom: 0;
   flex-grow: 1;
   flex-shrink: 0;
   flex-basis: auto;
   align-self: center;
   height: 30px;
   border-top-right-radius: 0;
   border-bottom-right-radius: 0;
}
 input.search-submit {
   height: 33px;
   width:70px;
   margin: 0;
   /* padding: 1rem 1.3rem; */
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   border-top-right-radius: 0.25rem;
   border-bottom-right-radius: 0.25rem;
   font-family: "Font Awesome 5 Free";
   font-size: 1rem;
}
 .screen-reader-text {
   clip: rect(1px, 1px, 1px, 1px);
   position: absolute !important;
   height: 1px;
   width: 1px;
   overflow: hidden;
}
 .button {
   display: inline-block;
   font-weight: 600;
   font-size: 0.8rem;
   line-height: 1.15;
   letter-spacing: 0.1rem;
   text-transform: uppercase;
   background: #f9d342;
   color: #292826;
   border: 1px solid transparent;
   vertical-align: middle;
   text-shadow: none;
   -webkit-transition: all 0.2s;
   -moz-transition: all 0.2s;
   transition: all 0.2s;
}
 .button:hover, .button:active, .button:focus {
   cursor: pointer;
   background: #d4b743;
   color: #292826;
   outline: 0;
}

 
</style>




  </head>
  <body>

     <!-- Header Area wrapper Starts -->
        <header id="header-wrap" style="background-color: white;">


            <!-- Navbar Start -->
            <nav class="navbar navbar-expand-lg bg-inverse  scrolling-navbar  navbar-light nav1" style="background-color: white;">
                <div class="container">
                    <div class="theme-header clearfix">
                        <!-- Brand and toggle get grouped for better mobile display -->
                        <div class="navbar-header">

                            <a href="/" class="navbar-brand"><img src="https://www.deloservices.com/images/delomainlogo.png" alt="deloservices"> </a>

                        </div>
                        <div class=" navbar-collapse">
                            <ul class="navbar-nav mr-auto w-100 justify-content-left">




  <li class="nav-item dropdown"  style="margin-top: 34px;">
                        <div class="wrapper">
                            <div class="container">
                             <form role="search" method="get" class="search-form form" action="/delo-mart-<%=result[2][0].seocategoryname%>/<%=result[2][0].seosubcategoryname%>/Search-Query/India/Best/Product/With/Best/Price/In/All/Over/The/World/Just/One/Click">
                      <label>
                        <span class="screen-reader-text">Search for...</span>
                        <input list=text_editors type="text" name="name"  class="search-field"
                          placeholder="Search anything..."
                          title="Search for anything..." style="height:33px;" />
                        <datalist id="text_editors">
                          <select multiple size=8>
                            <% for(i=0;i<result[2].length;i++){ %>
                            <option value="<%=result[2][i].name%>"><%=result[2][i].name%></option>
                            <% } %>

                          </select>
                        </datalist>

                      </label>



                      <!-- <input list=text_editors type="text"  name="seo_name" class="form-control" placeholder = "Search For Anything" style="color:#888888" > -->




                      <input type="submit" class="search-submit button" value="&#xf002;" />
                    </form>
                            </div>
                          </div>
                             
                      </li>
                 




                                <li class="postadd" style="margin-top: 35px;">
                                    <a class="btn btn-common btn-post" href="/">Advertise</a>
                                </li>

                                <li class="postadd" style="margin-top: 35px;margin-left:10px ">
                                    <a class="btn btn-common btn-post" href="/free-listing" aria-expanded="false">
                        Free Listing
                       </a>
                                </li>




                            </ul>

                        </div>
                    </div>
                </div>
                <div class="mobile-menu" data-logo="https://www.deloservices.com/images/delomainlogo.png"></div>

            </nav>





            <!-- Navbar Start -->



            <!-- Navbar End -->
            <!-- Navbar End -->









        </header>

    <!-- Header Area wrapper End -->
<!--slider start-->


  <!-- Page Header Start -->
  



    <!-- Page Header Start -->
    <div class="page-header" style="background: url(/assets/img/banner1.jpg);">
      <div class="container">
        <div class="row">  
      
    <br><br> <br>
          <div class="col-md-12">
           
    <div class="slider--teams">
      <div class="slider--teams__team">
     
       <!--  <ul id="list" class="cf">
          
            <% for(i=0;i<result.length;i++) { %>
                <a class="subcategory1"  id="<%=result[i].id%>" categoryid="<%=result[i].categoryid%>">  
          <li>
     
   <div class="icon">
  <img src="https://www.deloservices.com/images/<%=result[i].logo%>"  style="width:50px;" alt="<%= result[i].name %>" title="<%= result[i].name %>">
            </div>
          <h6 style="color:white"><%= result[i].name %></h6>
      
          </li>
        </a>
          
       <% } %>
          
        </ul> -->
      </div>
    </div>
          </div>
        </div>
      </div>
    </div>


    <!-- Page Header End -->  



   

  
    <!-- Start Content -->
    <div id="content" class="section-padding">
      <div class="container">
        <div class="row">
          
          <!--Sidebar-->
          <aside id="sidebar" class="col-lg-12 col-md-12 col-xs-6 col-sm-6 right-sidebar">
            <!-- Searcg Widget -->
           
            <!-- Categories Widget -->
            <div class="widget categories">
                <h4 class="widget-title"><%=result[0][0].anothercategoryname%></h4>
            
              <div class="container">
                  <div class="row">
              <% let k=0;%>
                  <% for(i=0;i<result[0].length;i++){ %>
                      <div class="col-lg-3 col-sm-3 col-md-3 col-xs-4" style="border-right:1px solid #eee;border-bottom:1px solid #eee">
                         <a href="/delo-mart-<%=result[0][0].seocategoryname%>/<%=result[0][i].seo_name%>" style="font-size:18px;color:black">
                         <div class="category-icon-item lis-bg1">
                           <div class="icon-box">
                              <p class="categories-listing" style="font-size:17px;text-align: left;"> <%= result[0][i].name %></p> 

<div class="container" style="margin-top: 6px;">
  <div class="row">
    <div class="col-lg-6"><div class="icon">
                     <img src="https://www.deloservices.com/images/<%=result[0][i].image%>" title="<%= result[0][i].name %>" style="width:150px;height: 100px" alt="logo">
                             </div>
                       </div>
                       <div class="col-lg-6">
                         
<% for(j=0;j<3;j++) { %>

<p><%=k%></p>
<%
k= k+1;
 } %>

                       </div>
  </div>
</div>

                             



                           </div>
                         </div>
                       </a>
                     </div>
                   <% } %>
                  </div>
                  </div>



                  
              
            </div>

            <!-- Popular Posts widget -->
           

           
          </aside>
          <!--End sidebar-->
          

        </div>
        
      </div>
    </div>
    <!-- End Content -->


  


    <!-- Footer Section Start -->
    <% include ./indexfooter.ejs %>
      
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/velocity/1.1.0/velocity.min.js"></script>
<script>

var sliderTeam = (function(document, $) {
  
  'use strict';
  
  var $sliderTeams = $('.slider--teams'),
      $list = $('#list'),
      $listItems = $('#list li'),
      $nItems = $listItems.length,
      $nView = 3,
      autoSlider,
      $current = 0,
      $isAuto = true,
      $acAuto = 2500,
      
      _init = function() {
        _initWidth();
        _eventInit();
      },
      
      _initWidth = function() {
        $list.css({
          'margin-left': ~~(100 / $nView) + '%',
          'width': ~~(100 * ($nItems / $nView)) + '%'
        });
        $listItems.css('width', 100 / $nItems + '%');
        $sliderTeams.velocity({ opacity: 1 }, { display: "block" }, { delay:1000 });
      },
      
      _eventInit = function() {
        
        window.requestAnimFrame = (function() {
          return  window.requestAnimationFrame       || 
              window.webkitRequestAnimationFrame || 
              window.mozRequestAnimationFrame    || 
              window.oRequestAnimationFrame      || 
              window.msRequestAnimationFrame     || 
              function(callback, element){
                window.setTimeout(callback, 1000 / 60);
              };
        })();

        window.requestInterval = function(fn, delay) {
            if( !window.requestAnimationFrame       && 
                !window.webkitRequestAnimationFrame && 
                !window.mozRequestAnimationFrame    && 
                !window.oRequestAnimationFrame      && 
                !window.msRequestAnimationFrame)
                    return window.setInterval(fn, delay);
            var start = new Date().getTime(),
            handle = new Object();

            function loop() {
                var current = new Date().getTime(),
                delta = current - start;
                if(delta >= delay) {
                    fn.call();
                    start = new Date().getTime();
                }
                handle.value = requestAnimFrame(loop);
            };
            handle.value = requestAnimFrame(loop);
            return handle;
        }

        window.clearRequestInterval = function(handle) {
            window.cancelAnimationFrame ? window.cancelAnimationFrame(handle.value) :
            window.webkitCancelRequestAnimationFrame ? window.webkitCancelRequestAnimationFrame(handle.value)   :
            window.mozCancelRequestAnimationFrame ? window.mozCancelRequestAnimationFrame(handle.value) :
            window.oCancelRequestAnimationFrame ? window.oCancelRequestAnimationFrame(handle.value) :
            window.msCancelRequestAnimationFrame ? msCancelRequestAnimationFrame(handle.value) :
            clearInterval(handle);
        };
        
        $.each($listItems, function(i) {
          var $this = $(this);
          $this.on('touchstart click', function(e) {
            e.preventDefault();
            _stopMove(i);
            _moveIt($this, i);
          });
        });
        
        autoSlider = requestInterval(_autoMove, $acAuto);
      },
      
      _moveIt = function(obj, x) {
        
        var n = x;
        
        obj.find('figure').addClass('active');        
        $listItems.not(obj).find('figure').removeClass('active');
        
        $list.velocity({
          translateX: ~~((-(100 / $nItems)) * n) + '%',
          translateZ: 0
        }, {
          duration: 1000,
          easing: [400, 26],
          queue: false
        });
        
      },
      
      _autoMove = function(currentSlide) {
        if ($isAuto) { 
          $current = ~~(($current + 1) % $nItems);
        } else {
          $current = currentSlide;
        }
        
        _moveIt($listItems.eq($current), $current);
      },
      
      _stopMove = function(x) {
        clearRequestInterval(autoSlider);
        $isAuto = false;
        _autoMove(x);
      };
  
  return {
    init: _init
  };

})(document, jQuery);

$(window).load(function(){
  'use strict';
  sliderTeam.init();
});
</script>
  </body>


  <script>
  
  $('.subcategory').click(function(){
        const id = $(this).attr('id');
        const categoryid = $(this).attr('categoryid');
        const seoname = $(this).attr('seoname');
        
        $.post('/subcategory/getid',{id,categoryid},data=>{
          window.location.href = `/subcategory/services/${seoname}`
        })
      }) 


      $('.subcategory1').click(function(){
        const id = $(this).attr('id');
        const categoryid = $(this).attr('categoryid');
        const seoname = $(this).attr('seoname');
       $.post('/subcategory/getid',{id,categoryid},data=>{
        window.location.href = `/subcategory/services/${seoname}`
        })
      }) 
      
      </script>



<script type="text/javascript">
  (function() {
  window.__insp = window.__insp || [];
  __insp.push(['wid', 1301399890]);
  var ldinsp = function(){
  if(typeof window.__inspld != "undefined") return; window.__inspld = 1; var insp = document.createElement('script'); insp.type = 'text/javascript'; insp.async = true; insp.id = "inspsync"; insp.src = ('https:' == document.location.protocol ? 'https' : 'http') + '://cdn.inspectlet.com/inspectlet.js?wid=1301399890&r=' + Math.floor(new Date().getTime()/3600000); var x = document.getElementsByTagName('script')[0]; x.parentNode.insertBefore(insp, x); };
  setTimeout(ldinsp, 0);
  })();
  </script>



</html>