<% include ./msg91_dashboard_header.ejs %>
        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="container-fluid mt-3">
                    <h4>Overall Report</h4> <br>
                <div class="row">
                    
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-1">
                            
                            <div class="card-body">
                                <h3 class="card-title text-white">OTP Message</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= result[2][0].total_booking %></h2>
                                
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-2">
                            <div class="card-body">
                                <h3 class="card-title text-white">Normal Message</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= result[1][0].cancel_booking %></h2>
                                
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4 col-sm-6">
                        <div class="card gradient-3">
                            <div class="card-body">
                                <h3 class="card-title text-white">Promotional Message</h3>
                                <div class="d-inline-block">
                                    <h2 class="text-white"><%= result[3][0].completed_booking %></h2>
                                
                                </div>
                                <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                            </div>
                        </div>
                    </div>
                  
                </div>




                <h4>Today's Report</h4> <br>
                <div class="row">
                    
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-1">
                                
                                <div class="card-body">
                                    <h3 class="card-title text-white">OTP Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[0][0].total_users%></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-2">
                                <div class="card-body">
                                    <h3 class="card-title text-white">Normal Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[4][0].normal_message %></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-3">
                                <div class="card-body">
                                    <h3 class="card-title text-white">Promotional Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[5][0].promotional_message %></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                </div>
                            </div>
                        </div>
                      
                    </div>



               
                   
                

                
              

                <div class="row">
                    <div class="col-lg-12">
                        <div class="card">
                            <div class="card-body">
                                <div class="active-member">
                                    <div class="table-responsive">
                                        <table class="table table-xs mb-0">
                                            <h3>New Users</h3>
                                            <thead>
                                                <tr>
                                                    <th>Number</th>
                                                    <th>Date</th>
                                                    <th>Time</th>
                                                    <th>Latitude</th>
                                                    <th>Longitude</th>
                                                  
                                                </tr>
                                            </thead>
                                            <tbody>
                                                <% for(i=0;i<result[8].length;i++) { %>
                                                <tr>
                                                    <td><%=result[8][i].number%></td>
                                                    <td><%=result[8][i].date%></td>
                                                    <td>
                                                        <span><%=result[8][i].time%></span>
                                                    </td>
                                                    <td><%=result[8][i].latitude%></td>
                                                    <td><%=result[8][i].longitude%></td>
                                                   
                                                     
                                                   
                                                    
                                                   
                                                </tr>


                                                <% } %>

                                              
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>                        
                    </div>
                </div>







                <h4>Monthly Report</h4> <br>
                <div class="row">
                    
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-1">
                                
                                <div class="card-body">
                                    <h3 class="card-title text-white">OTP Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[9][0].monthly_otp_msg%></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-shopping-cart"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-2">
                                <div class="card-body">
                                    <h3 class="card-title text-white">Normal Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[10][0].monthly_normal_message %></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-money"></i></span>
                                </div>
                            </div>
                        </div>
                        <div class="col-lg-4 col-sm-6">
                            <div class="card gradient-3">
                                <div class="card-body">
                                    <h3 class="card-title text-white">Promotional Message</h3>
                                    <div class="d-inline-block">
                                        <h2 class="text-white"><%= result[11][0].monthly_promotional_message %></h2>
                                    
                                    </div>
                                    <span class="float-right display-5 opacity-5"><i class="fa fa-heart"></i></span>
                                </div>
                            </div>
                        </div>
                      
                    </div>



               
                   
                






                

              
                    
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <div class="footer">
            <div class="copyright">
                <p>Copyright &copy;2019 Delo Services Pvt. Ltd</p>
            </div>
        </div>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="/booking_dashboard/plugins/common/common.min.js"></script>
    <script src="/booking_dashboard/js/custom.min.js"></script>
    <script src="/booking_dashboard/js/settings.js"></script>
    <script src="/booking_dashboard/js/gleek.js"></script>
    <script src="/booking_dashboard/js/styleSwitcher.js"></script>

    <!-- Chartjs -->
    <script src="/booking_dashboard/plugins/chart.js/Chart.bundle.min.js"></script>
    <!-- Circle progress -->
    <script src="/booking_dashboard/plugins/circle-progress/circle-progress.min.js"></script>
    <!-- Datamap -->

   
    <!-- Pignose Calender -->
    <script src="/booking_dashboard/plugins/moment/moment.min.js"></script>
    <script src="/booking_dashboard/plugins/pg-calendar/js/pignose.calendar.min.js"></script>
    <!-- ChartistJS -->
    <script src="/booking_dashboard/plugins/chartist/js/chartist.min.js"></script>
    <script src="/booking_dashboard/plugins/chartist-plugin-tooltips/js/chartist-plugin-tooltip.min.js"></script>



    <script src="/booking_dashboard/js/dashboard/dashboard-1.js"></script>

</body>

</html>