
<!doctype html>
<html class="no-js" lang="">

<head>
    <script>
        !function(){var analytics=window.analytics=window.analytics||[];if(!analytics.initialize)if(analytics.invoked)window.console&&console.error&&console.error("Segment snippet included twice.");else{analytics.invoked=!0;analytics.methods=["trackSubmit","trackClick","trackLink","trackForm","pageview","identify","reset","group","track","ready","alias","debug","page","once","off","on"];analytics.factory=function(t){return function(){var e=Array.prototype.slice.call(arguments);e.unshift(t);analytics.push(e);return analytics}};for(var t=0;t<analytics.methods.length;t++){var e=analytics.methods[t];analytics[e]=analytics.factory(e)}analytics.load=function(t,e){var n=document.createElement("script");n.type="text/javascript";n.async=!0;n.src="https://cdn.segment.com/analytics.js/v1/"+t+"/analytics.min.js";var a=document.getElementsByTagName("script")[0];a.parentNode.insertBefore(n,a);analytics._loadOptions=e};analytics.SNIPPET_VERSION="4.1.0";
        analytics.load("LioF9AH4FA5S2Ioit4CkQHeQgaRy6227");
        analytics.page();
        }}();
      </script>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Delo Laundry - Dashboard</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- favicon
		============================================ -->
    <link rel="shortcut icon" type="images/x-icon" href="/images/delofabicon.png">
    <!-- Google Fonts
		============================================ -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700,900" rel="stylesheet">
    <!-- Bootstrap CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/bootstrap.min.css">
    <!-- font awesome CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/font-awesome.min.css">
    <!-- owl.carousel CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.carousel.css">
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.theme.css">
    <link rel="stylesheet" href="/team_dashboard_style/css/owl.transitions.css">
    <!-- meanmenu CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/meanmenu/meanmenu.min.css">
    <!-- animate CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/animate.css">
    <!-- normalize CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/normalize.css">
    <!-- mCustomScrollbar CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/scrollbar/jquery.mCustomScrollbar.min.css">
    <!-- jvectormap CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/jvectormap/jquery-jvectormap-2.0.3.css">
    <!-- Notika icon CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/notika-custom-icon.css">
    <!-- wave CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/wave/waves.min.css">
    <!-- main CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/main.css">
    <!-- style CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/style.css">
    <!-- responsive CSS
		============================================ -->
    <link rel="stylesheet" href="/team_dashboard_style/css/responsive.css">
    <!-- modernizr JS
		============================================ -->
    <script src="/team_dashboard_style/js/vendor/modernizr-2.8.3.min.js"></script>
</head>

<body>
    <!--[if lt IE 8]>
            <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->
    <!-- Start Header Top Area -->
    <div class="header-top-area">
        <div class="container">
            <div class="row">
                <div class="col-lg-4 col-md-4 col-sm-12 col-xs-12">
                    <div class="logo-area">
                        <a href="#"><h1 style="color:white"> Delo Laundry</h1></a>
                    </div>
                </div>
                <div class="col-lg-8 col-md-8 col-sm-12 col-xs-12">
                    <div class="header-top-menu">
                        <ul class="nav navbar-nav notika-top-nav">
                            
                                <li class="nav-item nc-al"><a href="#" data-toggle="dropdown" role="button" aria-expanded="false"
                                        class="nav-link dropdown-toggle"><span><img src="https://img.icons8.com/ultraviolet/30/000000/user.png"></span></a>       <div role="menu" class="dropdown-menu message-dd animated zoomIn">
                                   
                                    <div class="hd-message-info">
                                        <a href="#">
                                            <div class="hd-message-sn">
                                              
                                                <div class="hd-mg-ctn">
                                                    <a href="/team_dashboard/logout"><button type="button" class="btn btn-danger btn-block">Logout</button></a>
                                                    
                                                </div>
                                            </div>
                                        </a>
                                      
                                      
                                       
                                       
                                    </div>
                                   
                                </div>
                            </li>
                           
                          

                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- End Header Top Area -->
     <!-- Mobile Menu start -->
     <div class="mobile-menu-area">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="mobile-menu">
                            <nav id="dropdown">
                                <ul class="mobile-menu-nav">
                                    <li><a data-toggle="collapse" data-target="#Charts" href="/laundry/shopkeeper">Home</a>
                                    </li>
                                     <li><a href="/laundry/shopkeeperhistory">History</a>
                                     </li>
                                 
                                </ul>
                            </nav>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Mobile Menu end -->
    <!-- Main Menu area start-->
    <div class="main-menu-area mg-tb-40">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                    <ul class="nav nav-tabs notika-menu-wrap menu-it-icon-pro">
                        <li class="active"><a href="/laundry/shopkeeper"><img src="https://img.icons8.com/cute-clipart/20/000000/home-page.png">Home</a>
                        </li>
                       
                        <li><a  href="/laundry/shopkeeperhistory"><img src="https://img.icons8.com/ultraviolet/20/000000/payment-history.png"> History</a>
                        </li>
                       
                    </ul>
                   
                </div>
            </div>
        </div>
    </div>
    <!-- Main Menu area End-->
  
    <% if(result[0]) { %>
  
    <% for(i=0;i<result.length;i++) { %>
                
    <div class="contact-area">
        <div class="container">
            <div class="row">`
            
                </div>
                 <div class="row">
                 <div class="col-lg-3 col-md-6 col-sm-6 col-xs-12">
                            <div class="contact-list mg-t-30">
                                <div class="contact-win">
                                      <div class="conct-sc-ic">`
                                     <td><button type="button" class="btn btn-secondary">Order ID : <%=result[i].id%></button></td>` 
                                </div>
                                </div>
                                <div class="contact-ctn">
                                    <div class="contact-ad-hd">
                      <h2>Customer Name : <%=result[i].name%></h2>
                     
                                    </div>
                      <b>Items</b> : <p><%=result[i].inserteditem%></p>
                      <p>Quantity : <%=result[i].insertedquantity%>
                        <p>Dispatch Date : <%=result[i].dropdate%></p>
                                </div>
                                <hr>
                                <div class="social-st-list">
                               
<% if(result[i].dispatch == "dispatched"){ %>

    <h5>Dispatched Successfully...</h5>

<% } else { %>
 
    <div class="social-sn">
        <p><button class="btn btn-success dispatch" id="<%=result[i].id%>">Dispatch</button></p>
     </div>
  

    <% } %>






                          
                                </div>
                            </div>
                        </div>
                
              
              </div>
              
            
                <% } } else {%>

                    <h1 style="align-items: center;justify-content: center;text-align: center;">No Data Found</h1>

                    <% } %>
    
               
              
    <!-- Contact area End-->

    <% include ./partner_footer.ejs %>
<script>

$('.dispatch').click(function(){
    const id = $(this).attr('id')
    const dispatch = 'dispatched'
    $.post('/laundry/dispatch',{id,dispatch},data=>{
        window.location.href = '/laundry/shopkeeper'
    })
})
</script>



</body>


                            </html>
